@model ListStaffLeaveDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="staffLeaveUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>İzin Düzenle
                    </h3>

                </div>
                <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="updateStaffLeaveForm" asp-controller="StaffLeave" asp-action="UpdateStaffLeave" method="POST">
                <input type="hidden" asp-for="StaffId" />
                <input type="hidden" id="LeaveTypeIdUpdateModal" asp-for="LeaveTypeId" value="14" />
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>İzin Türü *</label>
                                                <div class="input-group dropdown">
                                                    <a class="form-control form-control-lg form-control-solid btn btn-secondary dropdown-toggle " value="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <p class="my-auto text-left pl-2" id="selectLeaveTypeBtnTextUpdateModal">@Model.LeaveType</p>
                                                    </a>

                                                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                        <ul class="p-0" style="cursor:pointer">
                                                            @foreach (var item in ViewBag.LeaveTypes)
                                                            {
                                                                var tittle = "";
                                                                if (item.IsFree)
                                                                {
                                                                    tittle += "Ücretsiz İzin_______";
                                                                }
                                                                else
                                                                {
                                                                    tittle += "Ücretli İzin_______";
                                                                }
                                                                if (item.TotalDay == 0)
                                                                {
                                                                    tittle += "Süresiz                     " + item.Description;
                                                                }
                                                                else
                                                                {
                                                                    tittle += item.TotalDay + " Gün                     " + item.Description;
                                                                }

                                                                <li class="dropdown-item" id="@item.Id" name="@item.Name" onclick="ChangeLeaveTypeUpdateModal(this)">@item.Name <a data-toggle='tooltip' title='@tittle' class="float-right"><i class='fas fa-info-circle bg-success '></i></a></li>

                                                            }

                                                        </ul>
                                                    </div>

                                                </div>
                                                <input type="hidden" asp-for="StaffId" />
                                                <input type="hidden" asp-for="GeneralStatusGeneralSubTypeId" />
                                                <input type="hidden" asp-for="IsActive" />
                                                <input type="hidden" asp-for="StaffLeaveId" />
                                            </div>
                                            <div class="form-group row ">
                                                <label>Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_16" data-target-input="nearest">
                                                        <input asp-for="LeaveStartDate" value="@Model.LeaveStartDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_16" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_16" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">

                                            <div class="form-group row ">
                                                <label>Toplam Gün *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_2" type="text" class="form-control form-control-lg text-center" name="TotalDay" value="@Model.TotalDay" placeholder="Toplam" />
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label>Bitiş Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_17" data-target-input="nearest">
                                                        <input asp-for="LeaveEndDate" value="@Model.LeaveEndDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_17" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_17" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">

                                                    <textarea type="text" class="form-control form-control-lg form-control-solid" asp-for="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $('#kt_touchspin_2, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,

    });
    
    $(document).ready(function () {
  
       
    });

    FormValidation.formValidation(
        document.getElementById('updateStaffLeaveForm'),
        {
            fields: {
                LeaveTypeGeneralSubTypeId: {
                    validators: {
                        notEmpty: {
                            message: 'İzin türü alanı boş geçilemez'
                        },

                    }
                },
                LeaveStartDate: {
                    validators: {
                        notEmpty: {
                            message: 'Tarih alanı boş geçilemez'
                        }
                    }
                },
                LeaveEndDate: {
                    validators: {
                        notEmpty: {
                            message: 'Tarih alanı boş geçilemez'
                        }
                    }
                },
                TotalDay: {
                    validators: {
                        notEmpty: {
                            message: 'Toplam gün alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: '1-365 aralığında olmalı',
                        }

                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button

            }
        }
    );
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    });
</script>
@*izin türü değişti*@
<script>

    function ChangeLeaveTypeUpdateModal(elem) {
        var id = $(elem).attr("id");
        var name = $(elem).attr("name");

        $("#LeaveTypeIdUpdateModal").val(id);
        $("#selectLeaveTypeBtnTextUpdateModal").text(name);


    }
</script>