@model List<ListStaffLeaveDto>
@{
    ViewData["Title"] = "İzin Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
@await Component.InvokeAsync("StaffSubHeader", new { id = @ViewBag.StaffId })
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">
            @await Component.InvokeAsync("StaffCard", new { id = @ViewBag.StaffId })
            @*staffLeave*@
            <div class="tab-content w-100">
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_5">

                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title w-75">
                                        <i class="fas fa-plane-departure text-dark mr-2"></i>
                                        <h3 class="card-label">
                                            İzinler
                                        </h3>
                                        @{
                                            decimal TotalLeaveDeserved = ViewBag.TotalLeaveDeserved;
                                            decimal UsedLeave = ViewBag.UsedLeaveDay;
                                            decimal RemainLeaveDay = TotalLeaveDeserved - UsedLeave;
                                            decimal yuzde = TotalLeaveDeserved != 0 ? (RemainLeaveDay / TotalLeaveDeserved) * 100 : 0;
                                            var abc = yuzde != 0 ? Convert.ToInt32(yuzde) + "%" : "0%";

                                        }


                                        <div class="progress w-50 ml-8">

                                            <div class="progress-bar" role="progressbar" style="width:@abc;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@abc</div>

                                        </div>
                                        <a data-toggle="tooltip" title="Kalan izin günü @RemainLeaveDay"><span class="ml-4 font-size-sm">@RemainLeaveDay / </span></a>
                                        <a data-toggle="tooltip" title="Hak edilen izin günü @TotalLeaveDeserved"><span class="ml-1 font-size-sm"> @TotalLeaveDeserved</span></a>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->
                                        @if ((User.IsInRole("AddStaffLeave") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                        {
                                            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#staffLeaveAddModal">
                                                İzin Ekle
                                            </button>
                                        }
                                            <!--end::Button-->
                                        </div>

                                </div>
                                <div class="card-body">
                                    <!--begin: Datatable-->
                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_2">
                                        <thead>
                                            <tr>
                                                <th>Başlangıç</th>
                                                <th>Bitiş</th>
                                                <th>Süre</th>
                                                <th>İzin Türü</th>
                                                <th width="35%">Açıklama</th>
                                                <th>Durum</th>
                                                @if ((User.IsInRole("UpdateDeleteLeave") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <th>İşlemler</th>
                                                }
                                                </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>

                                                <td>@item.LeaveStartDate.ToString("d")</td>

                                                <td>@item.LeaveEndDate.ToString("d")</td>

                                                <td>@item.TotalDay Gün</td>
                                                <td>@item.LeaveType</td>
                                                <td>@item.Description</td>
                                                <td>@item.GeneralStatusGeneralSubTypeId</td>
                                                @if ((User.IsInRole("UpdateDeleteLeave") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <td>
                                                        <a id="CareerUpdateBtn" onclick="LeaveUpdate(@item.StaffLeaveId)" class="btn btn-sm btn-clean btn-icon" title="Edit details" data-toggle="modal" data-target="#staffLeaveUpdateModal">
                                                            <i class="la la-edit text-warning"></i>
                                                        </a>
                                                        <a class="btn btn-sm btn-clean btn-icon" onclick=" DeleteStaffLeave(@item.StaffLeaveId)" title="Sil">

                                                            <i class="la la-trash text-danger"></i>
                                                        </a>
                                                    </td>
                                                }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
            </div>

        </div>

    </div>

</div>

@*add leave modal*@
<div class="modal fade" id="staffLeaveAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>İzin Ekle
                    </h3>

                </div>
                <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddLeaveForm">
                <input type="hidden" name="StaffId" id="StaffId" value="@ViewBag.StaffId" />
                <input type="hidden" name="LeaveTypeId" id="LeaveTypeId" value="14" />
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>İzin Türü *</label>
                                                <div class="input-group dropdown">
                                                    <a class="form-control form-control-lg form-control-solid btn btn-secondary dropdown-toggle " value="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <p class="my-auto text-left pl-2" id="selectLeaveTypeBtnText">Yıllık İzin </p>
                                                    </a>

                                                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                        <ul class="p-0" style="cursor:pointer">
                                                            @foreach (var item in ViewBag.LeaveTypes)
                                                            {
                                                                var tittle = "";
                                                                if (item.IsFree)
                                                                {
                                                                    tittle += "Ücretsiz İzin_______";
                                                                }
                                                                else
                                                                {
                                                                    tittle += "Ücretli İzin_______";
                                                                }
                                                                if (item.TotalDay == 0)
                                                                {
                                                                    tittle += "Süresiz                     " + item.Description;
                                                                }
                                                                else
                                                                {
                                                                    tittle += item.TotalDay + " Gün                     " + item.Description;
                                                                }
                                                                <li class="dropdown-item" id="@item.Id" name="@item.Name" onclick="ChangeLeaveType(this)">@item.Name <a data-toggle='tooltip' title='@tittle' class="float-right"><i class='fas fa-info-circle bg-success '></i></a></li>

                                                            }

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label>Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_14" data-target-input="nearest">
                                                        <input name="LeaveStartDate" id="LeaveStartDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_14" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_14" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row ">
                                                <label>Toplam Gün *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_1" type="text" class="form-control form-control-lg text-center" value="0" name="TotalDay" placeholder="Toplam" />
                                                </div>
                                            </div>


                                            <div class="form-group row ">
                                                <label>Bitiş Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_15" data-target-input="nearest">
                                                        <input name="LeaveEndDate" id="LeaveEndDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_15" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_15" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">


                                                    <textarea type="text" class="form-control form-control-lg form-control-solid" id="Description" name="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="leaveClickFunction()" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* update leave modal*@
<div id="UpdateStaffLeaveModalDiv"></div>


@section Scripts{



    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(document).ready(function () {
            $("#tab_5").addClass("active");
        });
    </script>

    @*izin türü değişti*@
    <script>

        function ChangeLeaveType(elem) {
            var id = $(elem).attr("id");
            var name = $(elem).attr("name");

            $("#LeaveTypeId").val(id);
            $("#selectLeaveTypeBtnText").text(name);


        }
    </script>

    @*//update staff leave*@
    <script>
        function LeaveUpdate(id) {

            var modelContent = $("#UpdateStaffLeaveModalDiv")
            $("#UpdateStaffLeaveModalDiv").empty();

            $.ajax({
                method: "GET",
                url: "/StaffLeave/GetUpdateStaffLeaveModal/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {
                if (content != null) {
                    modelContent.html(content);
                }
                $("#staffLeaveUpdate").modal("show");


            }).fail(function (error) {
                alert(error);
            });
        }
    </script>
    @*ekleme validasyon*@
    <script>
        const fv = FormValidation.formValidation(
            document.getElementById('modalAddLeaveForm'),
            {
                fields: {
                    x: {
                        validators: {
                            notEmpty: {
                                message: 'İzin türü alanı boş geçilemez'
                            },

                        }
                    },
                    LeaveStartDate: {
                        validators: {
                            notEmpty: {
                                message: 'Tarih alanı boş geçilemez'
                            },
                            date: {
                                format: 'DD.MM.YYYY',
                                message: 'Geçerli bir tarih girin'
                            }
                        }
                    },
                    LeaveEndDate: {
                        validators: {
                            notEmpty: {
                                message: 'Tarih alanı boş geçilemez'
                            },
                            date: {
                                format: 'DD.MM.YYYY',
                                message: 'Geçerli bir tarih girin'
                            }
                        }
                    },
                    TotalDay: {
                        validators: {
                            notEmpty: {
                                message: 'Toplam gün alanı boş geçilemez',
                            },
                            between: {
                                min: 1,
                                max: 365,
                                message: 'Toplam gün 0 olamaz',
                            }

                        }
                    },
                    Description: {
                        validators: {
                            stringLength: {
                                max: 999,
                                message: '1000 karakterden az girin'
                            }
                        }
                    }
                },

                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    // Bootstrap Framework Integration
                    bootstrap: new FormValidation.plugins.Bootstrap(),
                    // Validate fields when clicking the Submit button

                }
            }
        );
        function leaveClickFunction() {
            fv.validate().then(function (status) {
                if (status == 'Valid') {
                    var formData = {
                        LeaveTypeId: $("#LeaveTypeId").val(),
                        LeaveStartDate: $("#LeaveStartDate").val(),
                        LeaveEndDate: $("#LeaveEndDate").val(),
                        Description: $("#Description").val(),
                        StaffId: $("#StaffId").val(),
                        TotalDay: $("#kt_touchspin_1").val()
                    };

                    $.ajax({
                        method: 'post',
                        url: '/StaffLeave/AddStaffLeaveWithAjax',
                        data: formData,
                        success: function (data) {
                            if (data == "true") {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                    showCancelButton: false,

                                }).then(function () {
                                    window.location.reload();
                                })
                            }

                        }
                    })
                }

            });
        }

    </script>


    @*Delete Staff Leave*@
    <script>
        function DeleteStaffLeave(id) {
            Swal.fire({
                title: "Silmek istediğinize emin misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "Hayır, iptal et!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: "POST",
                        url: "/StaffLeave/DeleteStaffLeave/" + id,
                    }).done(function (result) {
                        if (result == true) {
                            Swal.fire({
                                title: "Silindi!",
                                text: "Kaydınız silindi.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız silinemedi",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız silinmedi",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });


        }


    </script>

    @*Staff leave Güncellendi için sweet alert*@
    <script>
        $(document).ready(function () {

            if (@ViewBag.StaffLeaveUpdateStatus == true) {
                Swal.fire("Güncellendi!", "Güncelleme işlemi başarılı!", "success");
            }
        });
    </script>

    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
    <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-touchspin.js"></script>

} 