@model StaffCardDto
<!--begin::Aside-->
<div class="flex-row-auto offcanvas-mobile w-300px w-xxl-400px h-75" id="kt_profile_aside">
    <!--begin::Profile Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Body-->
        <div class="card-body pt-4">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-hor"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover">
                            <li class="navi-item bg-danger">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-drop"></i>
                                    </span>
                                    <span class="navi-text">İşten Çıkart</span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
            </div>
            <!--end::Toolbar-->
            <!--begin::User-->
            <div class="d-flex align-items-center">
                <!--begin::Card-->

                <form>
                    <div class="card-body">
                        <div class="form-group row">

                            <div class="col-lg-9 col-xl-6">
                                <div class="image-input image-input-outline" id="kt_image_4">
                                    <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center position-relative">
                                        <div class="symbol symbol-label symbol-lg-100">
                                            @if (Model.PictureUrl != null)
                                            {
                                                var pp = "/img/" + @Model.PictureUrl;
                                                <img id="photo45" value="@pp" src ="@pp" alt="image" />
                                            }
                                            else
                                            {
                                                <img id="photo45"  src="~/assets/media/users/default.jpg" />
                                            }

                                        </div>
                                        <i class="symbol-badge bg-success"></i>
                                        <a class="btn btn-xs btn-icon btn-circle btn-hover-warning btn-shadow position-absolute btn-white" data-toggle="modal" data-target="#staffPpChangeModal" style="bottom:-6px;right:-6px;">
                                            <i class="  fa fa-pen icon-sm "></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.NameSurname</a>
                    <div class="text-muted"></div>

                </div>
            </div>

            <!--end::User-->
            <!--begin::Contact-->
            <div class="py-9">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">İşe başlama tarihi:</span>
                    <span class="text-muted ">@Model.JobJoinDate.ToShortDateString()</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">Şube:</span>
                    <span class="text-muted ">@Model.BranchName</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">Departman:</span>
                    <span class="text-muted ">@Model.DepartmantName</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">Unvan:</span>
                    <span class="text-muted ">@Model.Title</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">Şirket:</span>
                    <span class="text-muted ">@Model.CompanyName</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">Telefon (İş):</span>
                    <span class="text-muted">@Model.PhoneJob</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <span class="font-weight-bold mr-2">E-Posta (İş):</span>
                    <a href="#" class="text-muted text-hover-primary">@Model.EmailJob</a>
                </div>
            </div>
        </div>
        <!--end::Body-->
    </div>
    <!--end::Profile Card-->
</div>
<!--end::Aside-->
<div class="modal fade" id="staffPpChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Profil Resmi Değiştir
                    </h3>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form id="modalAddCareerForm" method="POST">
                <div class="modal-body ">
                    <div>
                        <div>
                            <div id="main-cropper"></div>
                            <a class="button actionSelect">
                                <input class="actionUpload dropzone-select btn btn-light-primary font-weight-bold btn-lg" type="file" id="select" value="Choose Image" accept="image/*">
                            </a>
                            
                        </div>
                    </div>
                      
                                @*@if (Model.PictureUrl != null)
                                {
                                    var pp = "/img/" + @Model.PictureUrl;
                                    <img src="@pp" alt="image" />
                                }
                                else
                                {
                                    <img id="deneme45" src="~/assets/media/users/default.jpg" />
                                }*@
                           
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

