@model ListStaffShiftOnDashboardDto


<div class="modal fade" id="staffShiftApprove" tabindex="-1" role="dialog" aria-labelledby="staffShiftApprove" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder ">
                        <i class="fas fa-wallet mr-2 "></i>Mesai Detay
                    </h3>
                </div>
                <button type="button" class="link-2 text-white bg-danger " data-dismiss="modal" aria-label="Close">
                </button>
            </div>
 
            <div class="modal-body text-center">
                <p class="font-size-lg">@Model.NameSurname <span class="font-weight-bolder"> Mesai </span> talebinde bulunmuştur.</p>
                <p class="font-size-lg"><span class="font-weight-bolder">  Tarih : </span>@Model.StartDate  </p>
                <p class="font-size-lg"> <span class="font-weight-bolder"> Açıklama : </span>@Model.Description</p>
                <div>
                    <p class="font-size-lg"> <span class="font-weight-bolder">  Toplam yapılan Mesai Saati : </span> @Model.Duration Saat  </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                <button type="button" onclick="rejectShiftDash(@Model.StaffShiftId)" class="btn btn-danger font-weight-bold">Reddet</button>
                @if ((User.IsInRole("ApprovePayment") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {
                    <button type="button" onclick="approveShiftDash(@Model.StaffShiftId)" class="btn btn-primary font-weight-bold">Onayla</button>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/_getApproveStaffShiftModal.js"></script>