@model ListStaffLeaveOnDashboardDto

<div class="modal fade" id="staffLeaveApprove" tabindex="-1" role="dialog" aria-labelledby="staffLeaveApprove" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h3 class="card-label font-weight-bolder text-white">
                    <i class="fas fa-umbrella-beach mr-2 "></i>İzin Detay
                </h3>
                <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <h4 >@Model.NameSurname <span class="text-warning"> @Model.LeaveType </span> talebinde bulunmuştur.</h4>
                <h4 class="card-title "> Tarih Aralığı :@Model.LeaveStartDate.ToShortDateString() - @Model.LeaveEndDate.ToShortDateString()  ( @Model.TotalDay gün ) </h4>
                <p class="card-title "> <h4>Açıklama: @Model.Description </h4></p>
                <div class=" text-warning">
                    <h4>Kalan Yıllık İzin Hakkı: @Model.TotalRemainingDay Gün</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                @if ((User.IsInRole("ApproveLeave") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {
                    <button type="button" onclick="approveLeaveDash(@Model.StaffLeaveId)" class="btn btn-primary font-weight-bold">Onayla</button>
                }
            </div>
        </div>
    </div>
</div>


<script>
    function approveLeaveDash(id) {
            Swal.fire({
                title: "Onaylamak ister misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "Hayır",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/Leave/ApproveLeave/" + id,
                    }).done(function (result) {
                        debugger;
                        if (result == true) {
                            Swal.fire({
                                title: "Onaylandı!",
                                text: "Talep Onaylandı.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız onaylanmadı",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız onaylanmadı",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });

        }
        function rejectLeave(id) {
            Swal.fire({
                title: "Talebi Reddetmek İster Misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "Hayır",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/Leave/RejectLeave/" + id,
                    }).done(function (result) {
                        debugger;
                        if (result == true) {
                            Swal.fire({
                                title: "Başarılı!",
                                text: "Talep Reddedildi.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "İşlem Başarısız",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız onaylanmadı",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });

        }
</script>