@model ListStaffLeaveOnDashboardDto

<div class="modal fade" id="staffLeaveApprove" tabindex="-1" role="dialog" aria-labelledby="staffLeaveApprove" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder ">
                        <i class="fas fa-umbrella-beach mr-2 "></i>İzin Detay
                    </h3>
                </div>
                <button type="button" class="link-2 text-white bg-danger " data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <h4>@Model.NameSurname <span class="text-warning"> @Model.LeaveType </span> talebinde bulunmuştur.</h4>
                <h4 class="card-title "><span class="text-warning"> Tarih Aralığı : </span> @Model.LeaveStartDate.ToShortDateString() - @Model.LeaveEndDate.ToShortDateString()  ( @Model.TotalDay gün ) </h4>
                <p class="card-title "> <h4> <span class="text-warning">Açıklama: </span> @Model.Description </h4></p>
                <div >
                    <h4><span class="text-warning"> Kalan Yıllık İzin Hakkı:</span> @Model.TotalRemainingDay Gün</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                @if ((User.IsInRole("ApproveLeave") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {
                    <button type="button" onclick="approveLeaveDash(@Model.StaffLeaveId)" class="btn btn-primary font-weight-bold">Onayla</button>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/_getApproveStaffLeaveModal.js"></script>