@model ListDashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Hoşgeldin @ViewBag.StaffName</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->


    </div>
</div>
<div class="d-flex flex-column-fluid">
    <!--begin::Dashboard-->
    <!--begin::Row-->
    <div class="row">
        @*Harcama Talepleri*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success"> <a class="text-success" asp-controller="Payment" asp-action="Index">Ödeme Talepleri</a></h3>

                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">

                    @if (Model.StaffPayments.Count > 0)
                    {

                        @foreach (var item in Model.StaffPayments)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        @if (item.GenderGeneralSubTypeId == 52)
                                        {
                                            <img src="~/user_avatar/man.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else if (item.GenderGeneralSubTypeId == 53)
                                        {
                                            <img src="~/user_avatar/woman.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/media/users/default.jpg" class="h-50 align-self-center" alt="" />
                                        }
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.NameSurname</a>
                                    <span class="text-muted font-weight-bold">@item.CreationDate.ToString("d")</span>
                                </div>
                                <!--end::Text-->
                                <a onclick=getStaffPaymentApproveModal(@item.StaffPaymentId) class="cursor-pointer"><span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">Detay</span></a>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span >
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                  </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Ödeme talebi bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>
        @*Mesai Talepleri*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success"> <a class="text-success" asp-controller="Shift" asp-action="Index">Mesai Talepleri</a></h3>

                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Item-->

                    @if (Model.StaffShifts.Count > 0)
                    {

                        @foreach (var item in Model.StaffShifts)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        @if (item.GenderGeneralSubTypeId == 52)
                                        {
                                            <img src="~/user_avatar/man.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else if (item.GenderGeneralSubTypeId == 53)
                                        {
                                            <img src="~/user_avatar/woman.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/media/users/default.jpg" class="h-50 align-self-center" alt="" />
                                        }
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.NameSurname</a>
                                    <span class="text-muted font-weight-bold">@item.StartDate.ToString("d")</span>
                                </div>
                                <!--end::Text-->
                                <a onclick=getStaffShiftApproveModal(@item.StaffShiftId) class="cursor-pointer"><span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">Detay</span></a>
                            </div>
                        }

                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Mesai talebi bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }


                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>
        @*İzin Talepleri*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success">  <a class="text-success" asp-controller="Leave" asp-action="Index">İzin Talepleri</a></h3>

                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">

                    @if (Model.StaffLeaves.Count > 0)
                    {

                        @foreach (var item in Model.StaffLeaves)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        @if (item.GenderGeneralSubTypeId == 52)
                                        {
                                            <img src="~/user_avatar/man.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else if (item.GenderGeneralSubTypeId == 53)
                                        {
                                            <img src="~/user_avatar/woman.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/media/users/default.jpg" class="h-50 align-self-center" alt="" />
                                        }
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.NameSurname</a>
                                    <span class="text-muted font-weight-bold">@item.LeaveStartDate.ToString("d")</span>
                                </div>
                                <!--end::Text-->
                                <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder"> <a onclick="getStaffLeaveApproveModal(@item.StaffLeaveId)" class="cursor-pointer">Detay</a></span>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> İzin talebi bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>
        @*Yaklaşan İzinler*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success">Yaklaşan İzinler</h3>

                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    @if (Model.StaffLeaves.Count > 0)
                    {
                        @foreach (var item in Model.UpcomingLeaves)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        @if (item.GenderGeneralSubTypeId == 52)
                                        {
                                            <img src="~/user_avatar/man.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else if (item.GenderGeneralSubTypeId == 53)
                                        {
                                            <img src="~/user_avatar/woman.png" class="h-50 align-self-center" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/media/users/default.jpg" class="h-50 align-self-center" alt="" />
                                        }
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.NameSurname</a>
                                    <span class="text-muted font-weight-bold">@item.LeaveStartDate.ToString("d")</span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Yaklaşan izin bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>

        @*Doğum günleri*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success"><a class="text-success" asp-controller="Event" asp-action="Index">Yaklaşan Doğum Günleri</a></h3>

                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    @if (Model.BirtDates.Count > 0)
                    {


                        @foreach (var item in Model.BirtDates)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        <i class="fas fa-gift text-danger fa-2x  h-50 align-self-center"></i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="Event" asp-action="Index" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.NameSurname</a>
                                    <span class="text-muted font-weight-bold">@item.BirthDate.Value.ToString("dd MMMM")</span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Doğum günü bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                    <!--end::Item-->


                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>
        @*Etkinlikler*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder text-success "><a class="text-success" asp-controller="Event" asp-action="Index">Etkinlikler</a></h3>

                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">

                    @if (Model.Events.Count > 0)
                    {


                        @foreach (var item in Model.Events)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        <i class="fas fa-calendar-alt text-primary fa-2x  h-50 align-self-center"></i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="Event" asp-action="Index" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.Title</a>
                                    <span class="text-muted font-weight-bold">@item.Start.ToString("d") </span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Yaklaşan etkinlik bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>
        @*Resmi tatiller Günleri*@
        <div class="col-xl-3">
            <!--begin::List Widget 2-->
            <div class="shadow p-3 mb-5 bg-white rounded card card-custom bg-light-white card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0">

                    <h3 class="card-title font-weight-bolder text-success"><a class="text-success" asp-controller="Event" asp-action="Index">Resmi Tatiller</a></h3>
                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    @if (Model.PublicDays.Count > 0)
                    {


                        @foreach (var item in Model.PublicDays)
                        {
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        <i class="fas fa-calendar-day text-success fa-2x  h-50 align-self-center"></i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a asp-controller="Event" asp-action="Index" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">@item.Title</a>
                                    <span class="text-muted font-weight-bold">@item.Start.ToString("d") </span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="d-flex align-items-center flex-wrap mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50 symbol-white pl-0">
                                <span>
                                    <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1 ml-2">
                                <span> Resmi tatil bulunmamaktadır</span>
                            </div>
                            <!--end::Text-->
                        </div>
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>

    </div>
</div>
<div id="approveDiv">


</div>

@section Scripts{
    <script>
        function getStaffLeaveApproveModal(id) {
            var modelContent = $("#approveDiv")
            $("#approveDiv").empty();

            $.ajax({
                method: "GET",
                url: "/Home/GetApproveStaffLeaveModal/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {
                if (content != null) {
                    modelContent.html(content);
                }
                $("#staffLeaveApprove").modal("show");


            }).fail(function (error) {
                alert(error);
            });

        }
        function getStaffShiftApproveModal(id) {
            var modelContent = $("#approveDiv")
            $("#approveDiv").empty();

            $.ajax({
                method: "GET",
                url: "/Home/GetApproveStaffShiftModal/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {
                if (content != null) {
                    modelContent.html(content);
                }
                $("#staffShiftApprove").modal("show");


            }).fail(function (error) {
                alert(error);
            });

        }
        function getStaffPaymentApproveModal(id) {
            var modelContent = $("#approveDiv")
            $("#approveDiv").empty();

            $.ajax({
                method: "GET",
                url: "/Home/GetApproveStaffPaymentModal/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {
                if (content != null) {
                    modelContent.html(content);
                }
                $("#staffPaymentApprove").modal("show");


            }).fail(function (error) {
                alert(error);
            });

        }

    </script>

}