@model List<ListLeaveTypeDto>

<div class="tab-content w-100">
    <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Notice-->
                <!--end::Notice-->
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap py-5">
                        <div class="card-title">
                            <i class="fas fa-umbrella-beach  text-dark mr-2"></i>
                            <h3 id="VariableTitle" class="card-label">
                                İzin Türleri

                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#leaveTypeAddModal">
                                Ekle
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>İzin Türü</th>
                                    <th>Açıklama</th>
                                    <th>İzin Hakkı</th>
                                    <th>İzin Tipi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="18%">@item.Name</td>
                                        <td width="52%">@item.Description</td>
                                        @if (item.TotalDay > 0)
                                        {
                                            <td width="10%">@item.TotalDay Gün</td>
                                        }
                                        else
                                        {
                                            <td width="10%">Süresiz</td>
                                        }
                                        @if (item.IsFree)
                                        {
                                            <td width="10%">Ücretsiz</td>
                                        }
                                        else
                                        {
                                            <td width="10%">Ücretli</td>
                                        }
                                        <td width="10%">
                                            <a id="CareerUpdateBtn" onclick="LeaveTypeUpdate(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Edit details">
                                                <i class="la la-edit text-warning"></i>
                                            </a>
                                            <a class="btn btn-sm btn-clean btn-icon" title="Delete" onclick="DeleteLeaveType(@item.Id)">
                                                <i class="la la-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</div>


<!--end: Datatable-->
@* add leavetype modal *@
<div class="modal fade" id="leaveTypeAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>İzin Türü Ekle
                    </h3>

                </div>
                <button type="button" class=" text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="LeaveTypeAddForm" method="POST">

                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>İzin Türü Adı*</label>
                                                <div class="input-group">
                                                    <input name="Name" id="Name" class="form-control form-control-lg form-control-solid" type="text" placeholder="İzin Türü" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>İzin Hakkı(Gün) *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_2" type="text" class="form-control form-control-lg text-center" name="TotalDay" placeholder="Toplam" value="0" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama *</label>
                                                <div class="input-group">

                                                    <textarea type="text" class="form-control form-control-lg form-control-solid" name="Description"  id="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="form-group row">
                                                <div class="checkbox-inline ml-0">
                                                    <label class="checkbox checkbox-success">
                                                        <input name="IsFree" type="checkbox" id="IsFree" />
                                                        <span></span>
                                                        Ücretsiz izin mi ?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button"  onclick="leaveTypeAddClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* update type modal*@
<div id="leaveTypeUpdateDiv">

</div>

<script>
    function LeaveTypeUpdate(id) {
        var modelContent = $("#leaveTypeUpdateDiv")
        $("#leaveTypeUpdateDiv").empty();

        $.ajax({
            method: "GET",
            url: "/SystemVariable/GetUpdateLeaveTypeModal/" + id,
            dataType: "html",
            cache: false,
        }).done(function (content) {

            if (content != null) {
                modelContent.html(content);
            }
            $("#leaveTypeUpdateModal").modal("show");



        }).fail(function (error) {
            alert(error);
        });
    }
</script>
<script>
    $('#kt_touchspin_2, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,

    });
</script>
<script>

    

    var fv = FormValidation.formValidation(
        document.getElementById('LeaveTypeAddForm'),
        {
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'İzin türü adı alanı boş geçilemez'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Açıklama alanı boş geçilemez'
                        },
                        stringLength: {
                            max: 999,
                            message: '1000 karakterden az girin'
                        }
                    }
                },
                TotalDay: {
                    validators: {
                        notEmpty: {
                            message: 'İzin hakkı alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: 'Toplam gün 0 olamaz',
                        }

                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button

            }
        }
    );
    function leaveTypeAddClickFunction() {
        fv.validate().then(function (status) {
            if (status == 'Valid') {
                var formData = {
                    Name: $("#Name").val(),
                    Description: $("#Description").val(),
                    IsFree: $("#IsFree").val(),
                    TotalDay: $("#kt_touchspin_2").val()
                };
                $.ajax({
                    method: 'post',
                    url: '/SystemVariable/AddLeaveType',
                    data: formData,
                    success: function (data) {
                        if (data == true) {
                            Swal.fire({
                                title: "Eklendi!",
                                text: "Kaydınız eklendi.",
                                icon: "success",
                            }).then(function () {
                                window.location.reload()
                            })
                        }

                    }

                })
            }

        });
    }
   
</script>

@*Delete generalSubType with sweet alert*@
<script>
    function DeleteLeaveType(id) {
        Swal.fire({
            title: "Silmek istediğinize emin misiniz ?",
            text: "Bunu geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "Hayır, iptal et!",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {

                $.ajax({
                    method: "POST",
                    url: "/SystemVariable/DeleteLeaveType/" + id,
                }).done(function (result) {
                    if (result == true) {
                        Swal.fire({
                            title: "Silindi!",
                            text: "Kaydınız silindi.",
                            icon: "success",
                            showCancelButton: false
                        }).then(function () {
                            window.location.reload();
                        })

                    } else {
                        Swal.fire(
                            "Hata",
                            "Kaydınız silinemedi",
                            "hata"
                        )
                    }

                })
            } else if (result.dismiss === "cancel") {
                Swal.fire({
                    title: "İptal Edildi",
                    text: "Kaydınız silinmedi",
                    icon: "error",
                    showCancelButton: false
                })


            }
        });


    }
</script>
