@model List<ListRoleDto>

<div class="tab-content w-100">
    <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Notice-->
                <!--end::Notice-->
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap py-5">
                        <div class="card-title">
                            <i class="fas fa-user-tag  text-dark mr-2"></i>
                            <h3 id="VariableTitle" class="card-label">
                                Roller

                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#roleAddModal">
                                Ekle
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_14">
                            <thead>
                                <tr>
                                    <th>Rol Adı </th>
                                    <th>Açıklama</th>
                                    <th>Yetki Türü</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="20%">@item.Name</td>
                                        <td width="50%">@item.Description </td>
                                        <td width="20%">@item.AuthorizeType </td>

                                        <td width="10%">
                                            <a id="CareerUpdateBtn" onclick="RoleUpdate(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Düzenle">
                                                <i class="la la-edit text-warning"></i>
                                            </a>
                                            <a class="btn btn-sm btn-clean btn-icon" title="Delete" onclick="DeleteRole(@item.Id)">
                                                <i class="la la-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</div>


<!--end: Datatable-->
@*add leavetype modal *@
<div class="modal fade" id="roleAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Rol Ekle
                    </h3>

                </div>
                <button type="button" class=" link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="RoleAddForm" method="POST">

                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->
                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Rol Adı*</label>
                                                <div class="input-group">
                                                    <input name="Name" id="Name" class="form-control form-control-lg form-control-solid" type="text" placeholder="Rol Adı" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Yetki Tipi</label>
                                                <div class="input-group">
                                                    <select id="authorizeType" class="form-control form-control-solid form-control-lg" name="AuthorizeTypeGeneralSubTypeId" asp-items="ViewBag.AuthorizeTypes">
                                                        <option value="">Seçiniz</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama*</label>
                                                <div class="input-group">
                                                    <input name="Description" id="Description" class="form-control form-control-lg form-control-solid" type="text" placeholder="Açıklama" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                        <button type="button" onclick="roleAddClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* update type modal*@
<div id="roleUpdateDiv">

</div>

<script>

    function RoleUpdate(id) {
        var modelContent = $("#roleUpdateDiv")
        $("#roleUpdateDiv").empty();

        $.ajax({
            method: "GET",
            url: "/SystemVariable/GetUpdateRoleModal/" + id,
            dataType: "html",
            cache: false,
        }).done(function (content) {

            if (content != null) {
                modelContent.html(content);
            }
            $("#roleUpdateModal").modal("show");



        }).fail(function (error) {
            alert(error);
        });
    }
</script>

<script>

    var fv = FormValidation.formValidation(
        document.getElementById('RoleAddForm'),
        {
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'İzin türü adı alanı boş geçilemez'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Açıklama alanı boş geçilemez'
                        },
                        stringLength: {
                            max: 999,
                            message: '1000 karakterden az girin'
                        }
                    }
                },
                AuthorizeTypeGeneralSubTypeId: {
                    validators: {
                        notEmpty: {
                            message: 'Yetki Tipi boş geçilemez '
                        }
                    }
                },

            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button

            }
        }
    );
    function roleAddClickFunction() {
        fv.validate().then(function (status) {
            if (status == 'Valid') {
                var formData = {
                    Name: $("#Name").val(),
                    Description: $("#Description").val(),
                    AuthorizeTypeGeneralSubTypeId: $("#authorizeType").val()
                };
                $.ajax({
                    method: 'post',
                    url: '/SystemVariable/AddRole',
                    data: formData,
                    success: function (data) {
                        if (data == true) {
                            Swal.fire({
                                title: "Eklendi!",
                                text: "Kaydınız eklendi.",
                                icon: "success",
                            }).then(function () {
                                window.location.reload()
                            })
                        } else {
                            Swal.fire({
                                title: "Başarısız!",
                                text: "Kaydınız eklenmedi.",
                                icon: "error",
                            }).then(function () {
                                window.location.reload()
                            })
                        }

                    }

                })
            }

        });
    }
</script>

@*Delete generalSubRule with sweet alert*@
<script>
    function DeleteRole(id) {
        Swal.fire({
            title: "Silmek istediğinize emin misiniz ?",
            text: "Bunu geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "Hayır, iptal et!",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {

                $.ajax({
                    method: "POST",
                    url: "/SystemVariable/DeleteRole/" + id,
                }).done(function (result) {
                    if (result == true) {
                        Swal.fire({
                            title: "Silindi!",
                            text: "Kaydınız silindi.",
                            icon: "success",
                            showCancelButton: false
                        }).then(function () {
                            window.location.reload();
                        })

                    } else {
                        Swal.fire(
                            "Hata",
                            "Kaydınız silinemedi",
                            "hata"
                        )
                    }

                })
            } else if (result.dismiss === "cancel") {
                Swal.fire({
                    title: "İptal Edildi",
                    text: "Kaydınız silinmedi",
                    icon: "error",
                    showCancelButton: false
                })


            }
        });


    }
</script>
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>