@model ListRolesWithSelectedStaffRole
@using System.Linq
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles-->
}
@await Component.InvokeAsync("StaffSubHeader", new { id = @ViewBag.Id })
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.Id })
    <div class="card-body">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">

            <div class="tab-content w-100">
                @*Staff General*@
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_1">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form id="generalForm" class="form" asp-action="AddRole" asp-controller="StaffRole" method="post">
                            <input type="hidden" name="StaffId" id="StaffId" value="@ViewBag.Id" />
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-address-book mr-2 text-dark"></i> Roller/izinler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Kullanıcının rollerini düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                        <button class="btn btn-primary mr-2">Kaydet</button>
                                        <a class="btn btn-secondary">Geri</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <div class="container">
                                    <!--begin::Body-->
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row ">
                                                    <label class="col-xl-5 col-lg-5 col-form-label">Personel Sistemi Kullanacak mı ?</label>
                                                    <div class="col-lg-9 col-xl-4">
                                                        <span class="switch switch-primary">
                                                            <label>
                                                                <input type="checkbox" id="WillUseSystem" name="WillUseSystem" value="1" />
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6" id="rolesDiv">
                                                <div class="form-group row " >
                                                    <label class="col-xl-4 col-lg-3 col-form-label">Roller</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <select class="form-control selectpicker" data-live-search="true" multiple name="Roles">
                                                            @foreach (var item in Model.Roles)
                                                            {
                                                                if (Model.UserRoles.Any(x => x.Name == item.Name))
                                                                {
                                                                    <option selected value="@item.Id">@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Description</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6" id="permissionsDiv">
                                                <div class="form-group row pt-5">
                                                    <label class="pl-4 col-lg-10 col-xl-10 ">Sayfa Yetkileri</label>
                                                    <div class="col-lg-10 col-xl-10 col-sm-12">
                                                        <select class="form-control selectpicker" data-live-search="true" multiple name="Permissions">
                                                            @foreach (var item in Model.Permissions)
                                                            {
                                                                if (Model.UserPermissions.Any(x => x.Name == item.Name))
                                                                {
                                                                    <option selected value="@item.Id">@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Description</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>


                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts{


    <script>

        $(document).ready(function () {
            $("#tab_10").addClass("active");
        });
    </script>


    @*Staff Güncellendi için sweet alert*@
    <script>
        $(document).ready(function () {

            if (@ViewBag.StaffGeneralUpdateStatus == true) {
                Swal.fire("Güncellendi!", "Güncelleme işlemi başarılı!", "success");
            }
        });
    </script>
    <script>
        $('#WillUseSystem').on('change', function () {

            if ($('#WillUseSystem').is(":checked")) {
                $("#rolesDiv").attr("hidden", false);
                $("#permissionsDiv").attr("hidden", false);
                
            }
            else {
                $("#rolesDiv").attr("hidden", true);
                $("#permissionsDiv").attr("hidden", true);              
            }
        })
    </script>

}
