@model List<ListLeaveInfoAllStaffDto>
@{
    ViewData["Title"] = "İzin raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Raporlar</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
    </div>
</div>

<br />
<div class="card card-custom">
    <div class="card-header card-header-tabs-line">
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                <li class="nav-item mr-3">
                    <a class="nav-link active"  asp-controller="Leave" asp-action="StaffLeaveRemainInfo" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kalan İzinler </span>
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link"  asp-controller="Leave" asp-action="StaffLeaveMonthlyInfo" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-user-clock"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Aylık İzin Raporu</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>


    <div class="card card-custom">
        <div class="card-body  ">
            <div class="tab-content pt-5">
                @*Kalan İzinler*@
                    <h3 class="text-dark mb-4"> Çalışanların Kalan İzin Sayısı</h3>
                    <hr />
                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_4">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Kimlik Numarası</th>
                                <th>Şirket</th>
                                <th>Şube</th>
                                <th>Departman</th>
                                <th>Unvan</th>
                                <th>İşe Giriş</th>
                                <th>Toplam Hakedilen İzin</th>
                                <th>Kullanılan İzin</th>
                                <th>Kalan İzin</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td> <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId">@item.NameSurname</a></td>
                                    <td>@item.IdNumber</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.CompanyBranchName</td>
                                    <td>@item.DepartmantName</td>
                                    <td>@item.TitleName</td>
                                    <td>@item.JobStartDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.TotalDayDeserved</td>
                                    <td>@item.TotalDayUsed</td>
                                    <td>@item.TotalDayRemain</td>
                                    <td>@item.IsActive</td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

@section Scripts{
    <script src="~/assets/js/pages/custom/contacts/edit-contact.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
}
