@model StaffFileInfoDto
@{
    ViewData["Title"] = "dosya Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <style>
        .table th, .table td {
            vertical-align: baseline;
        }
    </style>

}
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">

            @*staffLeave*@
            <div class="tab-content w-100">
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_8">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form class="form" method="post" enctype="multipart/form-data">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-user-edit text-dark mr-2"></i>Belgeler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Kişisel bilgileri düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                    </div>
                                </div>
                                <!--end::Header-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="card-body">
                                                    <div class=" mb-2 row ">
                                                        <div class="col-md-12 justify-content-center">
                                                            <table class="table table-light-dark table-sm mt-2 text-center table-striped">
                                                                <thead class="thead-dark">
                                                                    <tr class="table table-info ">
                                                                        <th>Belge Türü</th>
                                                                        <th>Dosya Yüklendi mi</th>
                                                                        <th>Göster/Düzenle</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td> <p class="my-auto">@Model.IdentityBook.Name</p></td>
                                                                        @if (Model.IdentityBook.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success my-auto"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger my-auto"></i></td>
                                                                        }
                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(4)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@Model.DrivingLicence.Name</td>
                                                                        @if (Model.DrivingLicence.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger"></i></td>
                                                                        }

                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(5)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@Model.SchoolLeavingCertificate.Name</td>
                                                                        @if (Model.SchoolLeavingCertificate.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger"></i></td>
                                                                        }

                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(6)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@Model.ResidenceCertificate.Name</td>
                                                                        @if (Model.ResidenceCertificate.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger"></i></td>
                                                                        }
                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(7)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@Model.CriminalCertificate.Name</td>
                                                                        @if (Model.CriminalCertificate.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger"></i></td>
                                                                        }
                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(8)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@Model.Certificates.Name</td>
                                                                        @if (Model.Certificates.Count > 0)
                                                                        {
                                                                            <td><i class="fas fa-check-circle text-success"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="fas fa-times-circle text-danger"></i></td>
                                                                        }
                                                                        <td><a class="btn text-primary" onclick="ShowFileDetail(9)">Göster/Düzenle</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="container mt-0">
                                            <!--begin::Body-->
                                            <div class="">

                                                <div class="row">
                                                    <div class="card-body">
                                                        <div class="col-md-11 mb-2 ml-7 row ">
                                                            <div class="col-md-10 justify-content-center">
                                                                <select id="categorySelect" onchange="categoryChange()" class="form-control form-control-solid d-block  form-control-lg" asp-items="@ViewBag.FileTypes">
                                                                    <option hidden value="-1">Önce kategori seçiniz</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2 justify-content-center">
                                                                <button id="uploadButton" type="button" class="btn btn-primary btn-block btn-lg ml-4 ">Kaydet </button>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="staffId" value="@ViewBag.StaffId" />
                                                        <div class="form-group row ml-8">
                                                            <div id="deleteDropzone" class="col-md-11  ml-3">
                                                                <div class="dropzone dropzone-default dropzone-primary" id="myAwesomeDropzone">


                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </form>
                        <!--end::Form-->
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<div id="def"></div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#tab_8").addClass("active");
        });
    </script>
    <script>
        function ShowFileDetail(id) {
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $("#categorySelect").val(id);
            categoryChange();
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }
    </script>

    @*//add staff file dropzone*@
    <script>
        var id = document.getElementById("staffId").value;

        function categoryChange() {
            $("#myAwesomeDropzone").remove();
            $("#deleteDropzone").append("<div class='dropzone dropzone-default dropzone-primary' id='myAwesomeDropzone'> </div >");
            var catId2 = document.getElementById("categorySelect").value;
            if (".dz-preview") {
                $("#myAwesomeDropzone").empty();
                document.getElementById("myAwesomeDropzone").innerHTML = "<span id='message' class='nav-icon  mr-2'><br/><br/><br/> <i class='fas fa-file-import'></i> Buraya görsellerinizi sürükle bırak yapabilirsiniz. <br/><br/><br/></span> ";
            }
            $.ajax({
                method: "GET",
                url: "/StaffFile/GetStaffFile/" + id,
                data: { categoryId2: catId2 },
            }).done(function (content) {
                let serverFiles = JSON.parse(content);
                console.log(serverFiles);


                Dropzone.autoDiscover = false;
                var catId = document.getElementById("categorySelect").value;

                $('#myAwesomeDropzone').dropzone({
                    autoProcessQueue: false,
                    url: "/StaffFile/AddStaffFile/" + id, // Set the url for your upload script location
                    paramName: "file", // The name that will be used to transfer the file
                    maxFiles: 10,
                    maxFilesize: 500, // MB
                    parallelUploads: 10,
                    timeout: 3600000,
                    addRemoveLinks: true,
                    params: { categoryId: catId },
                    init: function () {
                        var dz = this;

                        serverFiles.length == 0 ? document.getElementById("myAwesomeDropzone").innerHTML = "<span id='message' class='nav-icon  mr-2'><br/><br/><br/> <i class='fas fa-file-import'></i> Buraya görsellerinizi sürükle bırak yapabilirsiniz. <br/><br/><br/></span> " : document.getElementById("myAwesomeDropzone").innerHTML = " ";
                        // Server Files
                        for (var i = 0; i < serverFiles.length; i++) {
                            console.log("girdidjhdh");
                            var mockFile = { name: serverFiles[i].FileName, size: 12345, type: serverFiles[i].ContentType, value: serverFiles[i].StaffFileId };
                            this.options.addedfile.call(this, mockFile);
                            this.options.thumbnail.call(this, mockFile, serverFiles[i].FileFullPath + serverFiles[i].FileName);
                            mockFile.previewElement.classList.add('dz-success');
                            mockFile.previewElement.classList.add('dz-complete');

                            // Icons
                            var mockFileExt = serverFiles[i].FileName.split('.').pop().toLowerCase();
                            if (mockFileExt == "pdf") {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/pdf_icon.png");
                            } else if (mockFileExt.indexOf("doc") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/doc_icon.png");
                            } else if (mockFileExt.indexOf("xls") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/xls_icon.png");
                            } else if (mockFileExt.indexOf("xlsx") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/xlsx_icon.png");
                            } else if (mockFileExt.indexOf("txt") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/txt_icon.png");
                            } else if (mockFileExt.indexOf("zip") != -1 || mockFileExt.indexOf("rar") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/zip_icon.png");
                            } else if (mockFileExt.indexOf("jpg") != -1 || mockFileExt.indexOf("png") != -1 || mockFileExt.indexOf("jfif") != -1 || mockFileExt.indexOf("svg") != -1 || mockFileExt.indexOf("jpeg") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName + '');

                            } else {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/default_icon.png.png");
                            }
                            // $("#def").append('<img src="/img/'+serverFiles[i].FileFullPath + serverFiles[i].FileName + '"/>')
                        }
                        // this.removeAllFiles(true);
                        $('#uploadButton').click(function () {
                            dz.processQueue();
                        });
                        dz.on("complete", function (file) {
                            /*   dz.removeAllFiles(file);*/
                            console.log(file.upload);
                            if (file.upload) {
                                Swal.fire({
                                    icon: 'success',
                                    //timer: 3600000,
                                    title: 'Dosyalarınız Yüklendi',
                                }).then(function () {
                                    window.location.reload();
                                    //$.ajax({
                                    //    method: "GET",
                                    //    url: "/StaffFile/GetStaffActivePhoto/" + id,
                                    //}).done(function (content) {
                                    //    console.log("msmiiii" + content);
                                    //    if (content != null) {
                                    //        $("#photo45").attr("src", '/img/' + content + '')
                                    //    }
                                    //    else {
                                    //        $("#photo45").attr("src", "/assets/media/users/default.jpg")
                                    //    }
                                    //})
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    timeout: 3600000,
                                    title: 'İşlem mmmm!',
                                }).then(function () {
                                    window.location.reload();
                                });
                            }
                        });
                        dz.on('addedfile', function (file) {
                            $("#message").fadeOut(0);
                            file.previewElement.classList.add('dz-preview');
                            file.previewElement.classList.add('dz-success');
                            file.previewElement.classList.add('dz-complete');
                            file.previewElement.classList.add('dz-image-preview');
                        });
                        dz.on("success", function (file) {

                            categoryChange();
                        });

                    },
                    removedfile: function (file) {
                        //Server File
                        console.log("hee"); Swal.fire({
                            title: "Silmek istediğinize emin misiniz ?",
                            text: "Bunu geri alamazsınız!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Evet, sil!",
                            cancelButtonText: "Hayır, iptal et!",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                console.log(file);
                                console.log(result);
                                $.ajax({
                                    method: "POST",
                                    url: "/StaffFile/StaffFileRemove",
                                    data: { fileId: file.value },
                                }).done(function (result) {
                                    if (result == true) {
                                        Swal.fire({
                                            title: "Silindi!",
                                            text: "Kaydınız silindi.",
                                            icon: "success",
                                            showCancelButton: false
                                        }).then(function () {
                                            file.previewElement.remove();
                                            $.ajax({
                                                method: "GET",
                                                url: "/StaffFile/GetStaffActivePhoto/" + id,
                                            }).done(function (content) {
                                                if (content != null) {
                                                    $("#photo45").attr("src", '/img/' + content + '')
                                                }
                                                else {
                                                    $("#photo45").attr("src", "/assets/media/users/default.jpg")
                                                }
                                            })
                                        })

                                    } else {
                                        Swal.fire(
                                            "Hata",
                                            "Kaydınız silinemedi",
                                            "hata"
                                        )
                                    }

                                })
                            } else if (result.dismiss === "cancel") {
                                Swal.fire({
                                    title: "İptal Edildi",
                                    text: "Kaydınız silinmedi",
                                    icon: "error",
                                    showCancelButton: false
                                })
                            }
                        })
                    },

                    dictDefaultMessage: "",
                    dictRemoveFile: "Dosyayı Sil",
                    dictCancelUpload: "İptal Et",
                });

            }).fail(function (error) {

            });



        }

//// Work Update
//ProductionFileUpload = () => {
//    var urlWorkId = parseInt(window.location.pathname.split("/")[3]);
//    var fileUploadTypeID = 1;
//    Dropzone.autoDiscover = false;

//    $('#cover-spin').show();
//    $.ajax({
//        method: "GET",
//        url: "/Work/GetUploadedWorkFiles",
//        data: { id: urlWorkId, fileUploadTypeID: fileUploadTypeID },
//        contentType: "application/json; charset=utf-8",
//        dataType: "json"
//    }).done(function (serverFiles) {
//        $('#cover-spin').hide();

//        var id = urlWorkId + "~" + fileUploadTypeID;
//        $('#dropzone_production').dropzone({
//            autoProcessQueue: false,
//            url: "/Work/WorkFileUpload/" + id,
//            paramName: "files",
//            maxFiles: 100,
//            maxFilesize: 4000,
//            parallelUploads: 100,
//            timeout: 3600000,
//            uploadMultiple: true,
//            dictDefaultMessage: "Buraya görsellerinizi sürükle bırak yapabilirsiniz.",
//            dictRemoveFile: "Dosyayı Sil",
//            addRemoveLinks: true,
//            init: function () {
//                var dz = this;

//                dz.on('addedfile', function (file) {

//                    // Icons
//                    var ext = file.name.split('.').pop().toLowerCase();
//                    if (ext == "pdf") {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/pdf.png");
//                    } else if (ext.indexOf("doc") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/word.png");
//                    } else if (ext.indexOf("xls") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/excel.png");
//                    } else if (ext.indexOf("xlsx") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/excel.png");
//                    } else if (ext.indexOf("txt") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/txt.png");
//                    } else if (ext.indexOf("zip") != -1 || ext.indexOf("rar") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/zip.png");
//                    } else if (ext.indexOf("tif") != -1 || ext.indexOf("tiff") != -1) {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/tiff.png");
//                    } else {
//                        $(file.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/default.png");
//                    }

//                    file.previewElement.classList.add('dz-success');
//                    file.previewElement.classList.add('dz-complete');
//                    file.previewElement.classList.add('dz-image-preview');
//                    file.previewElement.classList.remove('dz-file-preview');
//                });

//                $("#productionFileUpload").click(function () {
//                    dz.processQueue();
//                });
//                $("#productionFileUploadRemove").click(function () {
//                    dz.removeAllFiles();
//                });



//                // Server Files
//                for (var i = 0; i < serverFiles.length; i++) {
//                    var mockFile = { name: serverFiles[i].FileName, size: 12345, type: serverFiles[i].ContentType };
//                    this.options.addedfile.call(this, mockFile);
//                    this.options.thumbnail.call(this, mockFile, serverFiles[i].FilePath);
//                    mockFile.previewElement.classList.add('dz-success');
//                    mockFile.previewElement.classList.add('dz-complete');
//                    // Icons
//                    var mockFileExt = serverFiles[i].FileName.split('.').pop().toLowerCase();

//                    if (mockFileExt == "pdf") {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/pdf.png");
//                    } else if (mockFileExt.indexOf("doc") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/word.png");
//                    } else if (mockFileExt.indexOf("xls") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/excel.png");
//                    } else if (mockFileExt.indexOf("xlsx") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/excel.png");
//                    } else if (mockFileExt.indexOf("txt") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/txt.png");
//                    } else if (mockFileExt.indexOf("zip") != -1 || mockFileExt.indexOf("rar") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/zip.png");
//                    } else if (mockFileExt.indexOf("tif") != -1 || mockFileExt.indexOf("tiff") != -1) {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/tiff.png");
//                    } else {
//                        $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/default.png");
//                    }
//                }
//            },
//            removedfile: function (file) {
//                //Server File
//                if (file.accepted == undefined) {
//                    $.ajax({
//                        method: "GET",
//                        url: "/Work/WorkUploadedFileRemove",
//                        data: { workId: urlWorkId, fileUploadTypeID: fileUploadTypeID, fileName: file.name },
//                    }).done(function (result) {
//                        if (result == "True") {
//                            file.previewElement.remove();
//                        }
//                    }).fail(function (error) {

//                        console.log(error);
//                    });
//                } else {
//                    file.previewElement.remove();
//                }
//            }
//        });

//    }).fail(function (error) {
//        $('#cover-spin').hide();
//        console.log(error);
//    });

//}
    </script>
    <script src="~/assets/js/pages/crud/file-upload/dropzonejs.js"></script>
}