@model List<FileHelper>
@{
    ViewData["Title"] = "dosya Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lightbox2-2.11.3/dist/css/lightbox.css" rel="stylesheet" />
    <script src="~/lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>
    <!--end::Page Vendors Styles-->
    <style>
        .table th, .table td {
            vertical-align: baseline;
        }
    </style>

}
@await Component.InvokeAsync("StaffSubHeader", new { id = @ViewBag.StaffId })
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">

            @*staffLeave*@
            <div class="tab-content w-100">
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_8">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form class="form" method="post" enctype="multipart/form-data">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark lead">
                                            <i class="fas fa-user-edit text-dark mr-2"></i>Belgeler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Belgeleri düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                    </div>
                                </div>
                                <!--end::Header-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="card-body">
                                                    <div class=" mb-2 row ">
                                                        <div class="col-md-12 justify-content-center">
                                                            <table class="table table-light table-sm mt-2 text-center border ">
                                                                <thead>
                                                                    <tr class="table table-secondary">
                                                                        <th class="border-bottom">Belge Türü</th>
                                                                        <th class="border-bottom">Durum</th>
                                                                        <th class="border-bottom">Göster</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td> <p class="my-auto">@item.Name</p></td>
                                                                            @if (item.Count > 0)
                                                                            {
                                                                                <td><i id="abc_@item.TypeId" class="fas fa-check-circle text-success my-auto"></i></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td><i class="fas fa-times-circle text-danger my-auto"></i></td>
                                                                            }
                                                                            <td><a class="btn text-primary" onclick="ShowFileDetail(@item.TypeId)">Göster</a></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="container mt-0">
                                            <!--begin::Body-->
                                            <div class="">

                                                <div class="row">
                                                    <div class="card-body">
                                                        <div class="col-md-11 mb-2 ml-7 row ">
                                                            @if ((User.IsInRole("AddStaffFile") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                            {
                                                                <div class="col-md-10 justify-content-center">
                                                                    <select id="categorySelect" onchange="categoryChange()" class="form-control form-control-solid d-block  form-control-lg" asp-items="@ViewBag.FileTypes">
                                                                        <option hidden value="-1">Önce kategori seçiniz</option>
                                                                    </select>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-12 justify-content-center">
                                                                    <select id="categorySelect" onchange="categoryChange()" class="form-control form-control-solid d-block  form-control-lg" asp-items="@ViewBag.FileTypes">
                                                                        <option hidden value="-1">Önce kategori seçiniz</option>
                                                                    </select>
                                                                </div>
                                                            }
                                                            @if ((User.IsInRole("AddStaffFile") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                            {
                                                                <div class="col-md-2 justify-content-center">
                                                                    <button id="uploadButton" type="button" class="btn btn-primary btn-block btn-lg ml-4 ">Kaydet </button>
                                                                </div>
                                                            }

                                                        </div>
                                                        <input type="hidden" id="staffId" value="@ViewBag.StaffId" />
                                                        <div class="form-group row ml-8">

                                                            <div id="deleteDropzone" class="col-md-11  ml-3">
                                                                <div class="gallery">
                                                                    <div class="dropzone dropzone-default dropzone-primary" id="myAwesomeDropzone">


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </form>
                        <!--end::Form-->
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<div id="def"></div>
@{
    var hasFileDeleteRole = (User.IsInRole("DeleteStaffFile") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated;
}
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#tab_8").addClass("active");
        });
    </script>
    <script>
        function ShowFileDetail(id) {
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $("#categorySelect").val(id);
            categoryChange();
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }
    </script>

    @*//add staff file dropzone*@
    <script>
        $(document).ready(function () {
            localStorage.SystemFileId;


            if (localStorage.SystemFileId == "" || typeof localStorage.SystemFileId === 'undefined' || localStorage.SystemFileId == -1) {
                localStorage.SystemFileId = -1;
                $("#categorySelect").val(-1);
            } else {
                $("#categorySelect").val(localStorage.SystemFileId);
                categoryChange();
            }


            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        })
        var id = document.getElementById("staffId").value;

        function categoryChange() {

            $("#myAwesomeDropzone").remove();
            $("#deleteDropzone").append("<div class='dropzone dropzone-default dropzone-primary' id='myAwesomeDropzone'> </div >");
            var catId2 = document.getElementById("categorySelect").value;
            localStorage.SystemFileId = catId2;
            if (".dz-preview") {
                $("#myAwesomeDropzone").empty();
                document.getElementById("myAwesomeDropzone").innerHTML = "<span id='message' class='nav-icon  mr-2'><br/><br/><br/> <i class='fas fa-file-import'></i> Buraya görsellerinizi sürükle bırak yapabilirsiniz. <br/><br/><br/></span> ";
            }

            $.ajax({
                method: "GET",
                url: "/StaffFile/GetStaffFile/" + id,
                data: { categoryId2: catId2 },
            }).done(function (content) {
                let serverFiles = JSON.parse(content);
                Dropzone.autoDiscover = false;
                var catId = document.getElementById("categorySelect").value;
                $('#myAwesomeDropzone').dropzone({
                    autoProcessQueue: false,
                    url: "/StaffFile/AddStaffFile/" + id, // Set the url for your upload script location
                    paramName: "file", // The name that will be used to transfer the file
                    maxFiles: 10,
                    maxFilesize: 500, // MB
                    parallelUploads: 10,
                    timeout: 3600000,
                    addRemoveLinks: @Html.Raw(Json.Serialize(hasFileDeleteRole)),
                    params: { categoryId: catId },
                    init: function () {
                        var dz = this;
                        serverFiles.length == 0 ? document.getElementById("myAwesomeDropzone").innerHTML = "<span id='message' class='nav-icon  mr-2'><br/><br/><br/> <i class='fas fa-file-import'></i> Buraya görsellerinizi sürükle bırak yapabilirsiniz. <br/><br/><br/></span> " : document.getElementById("myAwesomeDropzone").innerHTML = " ";
                        // Server Files
                        for (var i = 0; i < serverFiles.length; i++) {
                            var mockFile = { name: serverFiles[i].FileName, size: 12345, type: serverFiles[i].ContentType, value: serverFiles[i].StaffFileId };
                            this.options.addedfile.call(this, mockFile);
                            this.options.thumbnail.call(this, mockFile, serverFiles[i].FileFullPath + serverFiles[i].FileName);
                            mockFile.previewElement.classList.add('dz-success');
                            mockFile.previewElement.classList.add('dz-complete'); this.on("thumbnail", function (file) {
                            mockFile.previewElement.addEventListener("click", function (e) {
                                var b = document.createElement('a');
                                b.setAttribute('href', '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName);
                                b.setAttribute('title', 'Göster');
                                b.setAttribute('data-toggle', 'tooltip');
                                b.setAttribute('data-lightbox', "my-gallery");
                            });
                            });
                            // Icons
                            var mockFileExt = serverFiles[i].FileName.split('.').pop().toLowerCase();
                            if (mockFileExt == "pdf") {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/pdf_icon.png");
                            } else if (mockFileExt.indexOf("doc") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/doc_icon.png");
                            } else if (mockFileExt.indexOf("xls") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/xls_icon.png");
                            } else if (mockFileExt.indexOf("xlsx") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/xlsx_icon.png");
                            } else if (mockFileExt.indexOf("txt") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/txt_icon.png");
                            } else if (mockFileExt.indexOf("zip") != -1 || mockFileExt.indexOf("rar") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/zip_icon.png");
                            } else if (mockFileExt.indexOf("jpg") != -1 || mockFileExt.indexOf("png") != -1 || mockFileExt.indexOf("jfif") != -1 || mockFileExt.indexOf("svg") != -1 || mockFileExt.indexOf("jpeg") != -1) {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName + '');

                            } else {
                                $(mockFile.previewElement).find(".dz-image img").attr("src", "/assets/media/file-upload-icons/default_icon.png.png");
                            }
                            var a = document.createElement('a');
                            a.setAttribute('href', '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName);
                            a.setAttribute('target', '_blank');
                            a.setAttribute('data-toggle', 'tooltip');
                            a.setAttribute('title', 'İndir');
                            a.setAttribute('download', serverFiles[i].FileName);
                            a.innerHTML = "<i style='cursor:pointer' class='fas fa-download text-success p-2 mx-2'></i>";
                            mockFile.previewTemplate.appendChild(a);

                            if (mockFileExt == "pdf") {
                                var a = document.createElement('a');
                                a.setAttribute('href', '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName);
                                a.setAttribute('target', '_blank');
                                a.setAttribute('title', 'Göster');
                                a.setAttribute('data-toggle', 'tooltip');
                                a.innerHTML = "<i style='cursor:pointer' class='fas fa-eye text-secondary p-2 '></i>";
                                mockFile.previewTemplate.appendChild(a);
                            } else if (mockFileExt.indexOf("jpg") != -1 || mockFileExt.indexOf("png") != -1 || mockFileExt.indexOf("jfif") != -1 || mockFileExt.indexOf("svg") != -1 || mockFileExt.indexOf("jpeg") != -1) {
                                var b = document.createElement('a');
                                b.setAttribute('href', '/img/' + serverFiles[i].FileFullPath + serverFiles[i].FileName);
                                b.setAttribute('title', 'Göster');
                                b.setAttribute('data-toggle', 'tooltip');
                                b.setAttribute('data-lightbox', "my-gallery");
                                b.innerHTML = "<i style='cursor:pointer' class='fas fa-eye text-secondary p-2 '></i>";
                                mockFile.previewTemplate.appendChild(b);
                            }
                        }

                        $('#uploadButton').click(function () {
                            $('#cover-spin').show();
                            dz.processQueue();
                        });
                        dz.on("complete", function (file) {
                            $('#cover-spin').hide();
                            if (file.upload) {
                                Swal.fire({
                                    icon: 'success',
                                    //timer: 3600000,
                                    title: 'Dosyalarınız Yüklendi',
                                }).then(function () {
                                    window.location.reload();

                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    timeout: 3600000,
                                    title: 'İşlem mmmm!',
                                }).then(function () {
                                    window.location.reload();
                                });
                            }
                        });
                        dz.on('addedfile', function (file) {
                            $("#message").fadeOut(0);
                            file.previewElement.classList.add('dz-preview');
                            file.previewElement.classList.add('dz-success');
                            file.previewElement.classList.add('dz-complete');
                            file.previewElement.classList.add('dz-image-preview');
                        });
                        dz.on("success", function (file) {

                            categoryChange();
                        });

                    },

                    removedfile: function (file) {
                        //Server File
                        Swal.fire({
                            title: "Silmek istediğinize emin misiniz ?",
                            text: "Bunu geri alamazsınız!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Evet!",
                            cancelButtonText: "Hayır!",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {

                                $.ajax({
                                    method: "POST",
                                    url: "/StaffFile/StaffFileRemove",
                                    data: { fileId: file.value, typeId: localStorage.SystemFileId,staffId:@ViewBag.StaffId },
                                }).done(function (result) {
                                    if (result != -1) {
                                        Swal.fire({
                                            title: "Silindi!",
                                            text: "Kaydınız silindi.",
                                            icon: "success",
                                            showCancelButton: false
                                        }).then(function () {
                                            file.previewElement.remove();
                                            debugger;
                                            if (result == 0) {
                                                var deger = "#abc_" + localStorage.SystemFileId;
                                                console.log(deger + result);
                                                $(deger).removeClass("fa-check-circle");
                                                $(deger).addClass("fa-times-circle");
                                                $(deger).removeClass("text-success");
                                                $(deger).addClass("text-danger");
                                            }

                                        })

                                    } else {
                                        Swal.fire(
                                            "Hata",
                                            "Kaydınız silinemedi",
                                            "hata"
                                        )
                                    }

                                })
                            } else if (result.dismiss === "cancel") {
                                Swal.fire({
                                    title: "İptal Edildi",
                                    text: "Kaydınız silinmedi",
                                    icon: "error",
                                    showCancelButton: false
                                })
                            }
                        })
                    },

                    dictDefaultMessage: "",
                    dictRemoveFile: "<i class='fas fa-trash-alt text-danger'></i>",
                    dictCancelUpload: "İptal Et",
                });

            }).fail(function (error) {

            });



        }
    </script>

    <script src="~/assets/js/pages/crud/file-upload/dropzonejs.js"></script>
}