@model ListStaffPaymentDto


<div class="modal fade" id="UpdatePaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 id="PaymentAddModalHeader" class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Ödeme Düzenle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="UpdateStaffPaymentModal1" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        @* fiş ekleme divi *@
                                        <div class="col-md-12 ">
                                            <div class="form-group row">
                                                <div class="input-group">
                                                    <a onclick="AddUpdateReceipt()" class="btn  btn-primary btn-block font-size-h5 py-4">Fiş Ekle</a>
                                                </div>
                                            </div>
                                            <div id="receiptUpdateDiv" style="max-height: 300px; overflow-x: hidden; overflow-y: scroll;">
                                                @foreach (var item in Model.Receipts)
                                                {
                                                    var imgId = "UpdateReceiptImageFile_" + item.Id;
                                                    var param = "db_" + item.Id;
                                                    <div id="dbReceipt_@item.Id" class="dbReceiptDiv justify-content-between align-items-center d-flex row">
                                                        <input type="hidden" asp-for="@item.Id" name="Id" />
                                                        <div class="form-group col-md-3  pl-0 ml-4">
                                                            <label>Fiş Adı</label>
                                                            <div class="input-group"><input type="text" asp-for="@item.Name" name="Name" class="form-control form-control-solid form-control-lg " /></div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>KDV(%)</label>
                                                            <div class="input-group"><input type="text" asp-for="@item.Vat" name="Vat" class="form-control form-control-solid form-control-lg " /></div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Tutar</label>
                                                            <div class="input-group"><input type="text" asp-for="@item.Amount" name="ReceiptAmount" class="form-control form-control-solid form-control-lg u_rcptAmnt " /></div>
                                                        </div>
                                                        <div class="form-group my-auto col-md-1 ">
                                                            <div class="input-group justify-content-center">
                                                                @*download=" /img/@item.FileFullPath@item.FileName"*@
                                                                <input type="hidden" name="File" value="@item.FileFullPath@item.FileName" />

                                                                @if (item.FileName != "")
                                                                {
                                                                    var imageGalleryId = "imageGallery" + item.Id;
                                                                    var upload_icon_update = "upload_icon_update" + item.Id;
                                                                    <div class="gallery">
                                                                        <a href="/img/@item.FileFullPath@item.FileName" title="@item.FileName" data-toggle="tooltip" data-lightbox="my-gallery">
                                                                            <img id="@imageGalleryId" style="width:70px; height:40px;" src="/img/@item.FileFullPath@item.FileName" alt="@item.Name" />
                                                                        </a>
                                                                        @*<a href="/img/@item.FileFullPath@item.FileName" target="_blank">
                                                                                <img style="width:70px; height:40px;" src="/img/@item.FileFullPath@item.FileName" alt="@item.Name" />
                                                                            </a>*@

                                                                    </div>
                                                                    <label class="my-auto pt-1" for="@imgId">
                                                                        <i hidden id="@upload_icon_update" class="fas fa-image text-info" style="font-size: 1.5em !important;"></i>
                                                                    </label>
                                                                    <input hidden id="@imgId" onchange="fileInputUpdateChange(@item.Id)" type="file" name="File" style="display: none;" />
                                                                        }
                                                                        else
                                                                        {
                                                                            var upload_icon_update = "upload_icon_update" + item.Id;
                                                                            <label class="my-auto pt-1" for="@imgId">
                                                                        <i id="@upload_icon_update" class="fas fa-upload text-danger" style="font-size: 1.5em !important;"></i>
                                                                    </label>
                                                                    <input id="@imgId" onchange="fileInputUpdateChange(@item.Id)" type="file" name="File" style="display: none;" />
                                                                }


                                                            </div>
                                                        </div>
                                                        <div class="form-group my-auto col-md-1">
                                                            @*<label></label> <button type="button" onclick="DeleteReceipt("db_'+s+'")" id="" class="btn"><i class="fas fa-trash-alt fa-2x text-danger"></i></button>*@
                                                            <div class="card-toolbar">
                                                                <div class="dropdown dropdown-inline">
                                                                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="ki ki-bold-more-ver"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                                                        <!--begin::Naviigation-->
                                                                        <ul class="navi">

                                                                            <li class="navi-item">
                                                                                <input type="hidden" name="File" value="@item.FileFullPath@item.FileName" />
                                                                                <a class="navi-link image-upload">
                                                                                    <label for="@imgId">
                                                                                        <span class="navi-icon">
                                                                                            <i style="width:21px !important" class="fas fa-folder"></i>
                                                                                        </span>
                                                                                        <span class="navi-text cursor-pointer">Dosya Seç</span>
                                                                                        @*download=" /img/@item.FileFullPath@item.FileName"*@
                                                                                    </label>

                                                                                    <input type="file" id="@imgId" name="UpdateFile" style="display:none" />
                                                                                </a>
                                                                            </li>
                                                                            <li class="navi-item">
                                                                                <a onclick="DeleteReceipt2(@item.Id)" class="navi-link">
                                                                                    <span class="navi-icon">
                                                                                        <i class="fas fa-trash-alt"></i>
                                                                                    </span>
                                                                                    <span class="navi-text cursor-pointer">Fişi Sil</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                        <!--end::Naviigation-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12"> <hr /></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row">
                                                <label>Tutar</label>
                                                <div class="input-group">
                                                    <input id="txtAmountPartial" type="text" asp-for="Amount" name="AmountPayment" class="form-control form-control-solid form-control-lg">
                                                    <div class="input-group-append">
                                                        <select id="currencyTypePartial" class="form-control form-control-solid form-control-lg" asp-for="CurrencyGeneralSubTypeId" asp-items="ViewBag.Currencies">
                                                        </select>
                                                    </div>
                                                </div>
                                                <input type="hidden" asp-for="CreationDate" />
                                                <input type="hidden" asp-for="StaffId" />
                                                <input type="hidden" asp-for="IsActive" />
                                                <input type="hidden" asp-for="PaymentTypeGeneralSubTypeId" />
                                                <input type="hidden" asp-for="GeneralStatusGeneralSubTypeId" />
                                                <input type="hidden" id="StaffPaymentId" value="@Model.StaffPaymentId" />
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">

                                            <div class="form-group row  ">
                                                <label id="jobFinishDateLbl">Ödeme Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_5" data-target-input="nearest">
                                                        <input id="ContractStartDatePartial" asp-for="PaymentDate" value="@Model.PaymentDate.ToString("dd.MM.yyyy")" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_5" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_5" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="lgDescription" class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">
                                                    <textarea id="txtLgDescriptionPartial" type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" asp-for="Description" placeholder="Açıklama"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="fncAddReceiptOnUpdatePage()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>

    function DeleteReceiptUpdateFile(id) {

        var fileAddId = "#fileAddId" + id;
        $(fileAddId).val("");
        fileInputAddChange(id);
    }
    function fileInputAddChange(id) {
        debugger
        var fileAddId = "#fileAddId" + id;
        var upload_icon_add = "#upload_icon_add" + id;
        if ($(fileAddId).val() != "") {
            $(upload_icon_add).removeClass("fas fa-upload text-danger");
            $(upload_icon_add).addClass(" fas fa-image text-info");
        } else {
            $(upload_icon_add).removeClass("fas fa-image text-info");
            $(upload_icon_add).addClass(" fas fa-upload text-danger");
        }
    }
    $('input[name="PaymentDate"]').mask('00.00.0000');
    function fileInputUpdateChange(id) {
        debugger;
        var imageGallery = "#imageGallery" + id;
        var upload_icon_update = "#upload_icon_update" + id;
        if ($(imageGallery).attr('src') != "" &&  $(imageGallery).attr('src') !== undefined) {
            var imgId = "#UpdateReceiptImageFile_" + id;
            $(imageGallery).hide();
            if ($(imgId).val() != "") {
                $(upload_icon_update).removeClass("fas fa-upload text-danger");
                $(upload_icon_update).addClass(" fas fa-image text-info");
                $(upload_icon_update).attr("hidden", false);
            } else {
                $(upload_icon_update).removeClass("fas fa-image text-info");
                $(upload_icon_update).addClass(" fas fa-upload text-danger");
            }
        } else {
            var imgId = "#UpdateReceiptImageFile" + id;
            if ($(imgId).val() != "") {
                $(upload_icon_update).removeClass("fas fa-upload text-danger");
                $(upload_icon_update).addClass(" fas fa-image text-info");
            } else {
                $(upload_icon_update).removeClass("fas fa-image text-info");
                $(upload_icon_update).addClass(" fas fa-upload text-danger");
            }
        }
      
    }


    let counter2 = 0;
    function AddUpdateReceipt() {
        counter2++;
        var divUpdateId = "receipt" + counter2;
        var deleteUpdateId = "delete" + counter2;
        var deleteUpdateFileId = "deleteUpdateFile" + counter2;
        var fileAddId = "fileAddId" + counter2;

        $("#receiptUpdateDiv").append('<div id="' + divUpdateId + '" class="receiptdiv justify-content-between align-items-center d-flex row"> <input type="hidden" value="0" name="Id"/> <div class="form-group col-md-3 pl-0 ml-4"> <label>Fiş Adı</label> <div class="input-group"><input type="text" name="Name" class="form-control form-control-solid form-control-lg"/></div></div><div class="form-group col-md-3"> <label>KDV(%)</label> <div class="input-group"><input type="text" name="Vat" class="form-control form-control-solid form-control-lg"/></div></div><div class="form-group col-md-3"> <label>Tutar</label> <div class="input-group"><input type="text" name="ReceiptAmount" onkeyup="NewReceiptAdded(this); this.oldvalue = this.value"  class="form-control form-control-solid form-control-lg "/></div></div><div class="form-group my-auto col-md-1"> <div class="input-group justify-content-center"> <label class="my-auto pt-1" for="' + fileAddId + '"> <i id="upload_icon_add' + counter2 + '" class="fas fa-upload text-danger cursor-pointer" style="font-size: 1.5em !important;"></i> </label> <input id="' + fileAddId + '" onchange="fileInputAddChange(' + counter2 + ')" type="file" name="File" style="display: none;"/> </div></div><div class="form-group my-auto col-md-1">  <div class="card-toolbar"> <div class="dropdown dropdown-inline"> <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ki ki-bold-more-ver"></i> </a> <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left"> <ul class="navi"> <li class="navi-item"> <a onclick="DeleteReceiptUpdateFile(' + counter2 + ')" id="' + deleteUpdateFileId + '" class="navi-link cursor-pointer"> <span class="navi-icon"> <i class="fas fa-folder-minus"></i> </span> <span class="navi-text">Dosyayı Sil</span> <span class="navi-label"> </span> </a> </li> <li class="navi-item cursor-pointer"> <a onclick="DeleteReceipt(' + counter2 + ')" id="' + deleteUpdateId + '" class="navi-link"> <span class="navi-icon"> <i class="fas fa-trash-alt"></i> </span> <span class="navi-text">Fişi Sil</span> </a> </li></ul> </div></div></div></div></div>')
        deneme()
    }
    function fncAddReceiptOnUpdatePage() {
        var formdata = new FormData();
        $('.dbReceiptDiv').each(function (i, obj) {
            debugger;
            var myKey = "";
            var file;
            var itemId = "";
            $(this).find('input').each(function (j, obj2) {
                if ($(obj2).attr("name") == "Id") {
                    myKey += $(obj2).val();
                    itemId = "#UpdateReceiptImageFile_" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "Name") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "Vat") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "ReceiptAmount") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "File" && $(itemId).prop('files') != null) {
                    file = $(itemId).prop('files');
                }

            });
            console.log(file);
            if (file.length != 0) {
                formdata.append(myKey, file[0]);
            } else {
                formdata.append(myKey, "");
            }

        });


        $('.receiptdiv').each(function (i, obj) {

            var myKey = "";
            var file;
            $(this).find('input').each(function (j, obj2) {
                if ($(obj2).attr("name") == "Id") {
                    myKey += $(obj2).val();
                }
                else if ($(obj2).attr("name") == "Name") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "Vat") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "ReceiptAmount") {
                    myKey += "~" + $(obj2).val();
                }
                else if ($(obj2).attr("name") == "File") {
                    file = $(obj2);
                }
            });
            console.log(myKey);
            if (file != "") {
                formdata.append(myKey, file[0].files[0]);
            }

        });
        var id = $('#staffId').val();

        formdata.append("StaffPaymentId", document.getElementById("StaffPaymentId").value);
        formdata.append("Amount", $('#txtAmountPartial').val());
        formdata.append("Date", $('#ContractStartDatePartial').val());
        formdata.append("LgDescription", $('#txtLgDescriptionPartial').val());
        formdata.append("StaffId", $('#staffId').val());
        formdata.append("CurrencyType", $('#currencyTypePartial').val());
        $('#cover-spin').show();
        $.ajax({
            url: "/StaffPayment/AddReceiptOnUpdatePage/" + id,
            type: "POST",
            data: formdata,

            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                $('#cover-spin').hide();
                if (data == "true") {
                    Swal.fire({
                        title: "Eklendi!",
                        text: "Kaydınız Güncellendi.",
                        icon: "success",
                        showCancelButton: false
                    }).then(function () {
                        window.location.reload();
                    })
                }

            }
        });

    }

    function DeleteReceipt(counter) {

        Swal.fire({
            title: "Silmek istediğinize emin misiniz ?",
            text: "Bunu geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Evet!",
            cancelButtonText: "Hayır!",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                Swal.fire({
                    title: "Silindi!",
                    text: "Kaydınız silindi.",
                    icon: "success",
                    showCancelButton: false
                }).then(function () {

                    var divId = "#receipt" + counter;
                    $(divId).remove();
                })
            } else if (result.dismiss === "cancel") {
                Swal.fire({
                    title: "İptal Edildi",
                    text: "Kaydınız silinmedi",
                    icon: "error",
                    showCancelButton: false
                })
            }
        });

    }

    function DeleteReceipt2(id) {
        //var receiptId=this.dataset.dbtype
        Swal.fire({
            title: "Silmek istediğinize emin misiniz ?",
            text: "Bunu geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Evet!",
            cancelButtonText: "Hayır!",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    method: "POST",
                    url: "/StaffPayment/DeleteReceipt/" + id,
                }).done(function (result) {
                    if (result == true) {
                        Swal.fire({
                            title: "Silindi!",
                            text: "Kaydınız silindi.",
                            icon: "success",
                            showCancelButton: false
                        }).then(function () {
                            debugger;
                            var recDivId = "#dbReceipt_" + id
                            $(recDivId).remove();
                        })

                    } else {
                        Swal.fire(
                            "Hata",
                            "Kaydınız silinemedi",
                            "hata"
                        )
                    }
                })

            } else if (result.dismiss === "cancel") {
                Swal.fire({
                    title: "İptal Edildi",
                    text: "Kaydınız silinmedi",
                    icon: "error",
                    showCancelButton: false
                })
            }
        });
    };

</script>
<script>
    var fv;
    function deneme() {

        if (fv != null) {
            fv.destroy();
        }
        fv = FormValidation.formValidation(
            document.getElementById('UpdateStaffPaymentModal1'),
            {
                fields: {
                    PaymentDate: {
                        validators: {
                            notEmpty: {
                                message: 'Tarih alanı boş geçilemez'
                            },
                            date: {
                                format: 'DD.MM.YYYY',
                                message: 'Geçerli bir tarih girin'
                            }
                        }
                    }, Name: {
                        validators: {
                            notEmpty: {
                                message: 'Fiş adı alanı boş geçilemez'
                            },

                        }
                    }, Vat: {
                        validators: {
                            notEmpty: {
                                message: 'Kdv alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' KDV rakamlardan oluşmalıdır'
                            }

                        }
                    },
                    AmountPayment: {
                        validators: {
                            notEmpty: {
                                message: 'Tutar alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' Tutar rakamlardan oluşmalıdır',
                                decimalSeparator: ','
                            }
                        }
                    },
                    Description: {
                        validators: {
                            stringLength: {
                                max: 499,
                                message: '500 karakterden az girin'
                            }
                        }
                    },
                    ReceiptAmount: {
                        validators: {
                            notEmpty: {
                                message: 'Tutar alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' Tutar rakamlardan oluşmalıdır'
                            }

                        }
                    },

                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    // Bootstrap Framework Integration
                    bootstrap: new FormValidation.plugins.Bootstrap(),
                    // Validate fields when clicking the Submit button
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    // Submit the form when all fields are valid
                    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                }
            }
        );
    }

    const totalAmount = Number(0);
    var y = Number(0);
    $(".u_rcptAmnt").each(function () { var temp = $(this).val(); temp = temp.replace(/,/g, '.'); y += Number(temp); });
    $("#txtAmountPartial").val(y);

    $('.u_rcptAmnt').on('input', function () {
        var x = Number(0);
        $(".u_rcptAmnt").each(function () { var temp = $(this).val(); temp = temp.replace(/,/g, '.'); x += Number(temp); })
        $("#txtAmountPartial").val(x);
    });
    function NewReceiptAdded(event) {

        var total = Number($("#txtAmountPartial").val());
        var old = event.oldvalue;
        if (old != null) {
            old = old.replace(/,/g, '.');
            total -= Number(old);
        }
        var newVal = $(event).val();
        newVal = newVal.replace(/,/g, '.');
        total += Number(newVal);
        $("#txtAmountPartial").val(total);

    }

</script>
<script>
    $(document).ready(function () {
        deneme();
    });
</script>