@model List<ListReceiptDto>

<div class="modal fade" id="ShowPaymentReceiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 id="" class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Fişler
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <table class='table table-responsive table-secondary mx-auto'>
                    <tr class='table bg-dark text-white'>
                        <th width="10%"></th>
                        <th width="60%">Fiş Adı</th>
                        <th width="15%">KDV(%)</th>
                        <th width="15%">Tutar</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>  <img style="width: 150px; height: 150px;" src="/img/@item.FileFullPath@item.FileName" alt="@item.FileName" /></td>*@
                            <td>
                                <div class="gallery">
                                    @if (item.FileName != "")
                                    {

                                        <a href="/img/@item.FileFullPath@item.FileName" title="@item.FileName" data-toggle="tooltip" data-lightbox="my-gallery">
                                            <i style="cursor:pointer" class="fas fa-eye text-secondary p-2 "></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <p class="ml-3">-</p>
                                    }
                                </div>
                            </td>

                            <td>@item.Name</td>
                            <td>@item.Vat</td>
                            <td>@item.Amount</td>
                        </tr>

                    }
                </table>

            </div>

        </div>
    </div>

</div>
