@model List<ListStaffPaymentDto>
@{
    ViewData["Title"] = "Ödeme Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <style>
        .image-upload > input {
            display: none;
        }

        .image-upload i {
            width: 80px;
            cursor: pointer;
        }
    </style>
}
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">
            @await Component.InvokeAsync("StaffCard", new { id = @ViewBag.StaffId })
            @*staffLeave*@
            <div class="tab-content w-100">
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_6">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title">
                                        <i class="fas fa-wallet text-dark mr-2"></i>
                                        <h3 class="card-label">
                                            Ödemeler

                                        </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->

                                        <select id="kt_select2_1" onchange="PaymentTypeChange()" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.PaymentTypeList">
                                            <option value="-1" disabled selected hidden>Ödeme Ekle</option>
                                        </select>
                                        <!--end::Button-->
                                    </div>

                                </div>
                                <div class="card-body">
                                    <!--begin: Datatable-->
                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_3">
                                        <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Ödeme Türü</th>
                                                <th>Açıklama</th>
                                                <th>Tutar</th>
                                                <th>Durum</th>
                                                <th>Oluştrulma Tarihi</th>
                                                <th>Ödendi</th>
                                                <th>İşlemler</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>@item.PaymentDate.ToString("d")</td>

                                                    <td>@item.PaymentType</td>

                                                    <td>@item.Description</td>
                                                    @{var InstallmentStatus = item.Installment != null ? "Taksit" : null;}
                                                    <td>
                                                        @item.Amount @item.CurrencyType
                                                        @if (InstallmentStatus != null)
                                                        {
                                                            <small class="badge badge-pill badge-secondary">@item.Installment @InstallmentStatus</small>

                                                        }
                                                    </td>
                                                    <td>@item.GeneralStatusGeneralSubTypeId</td>
                                                    <td>@item.CreationDate.ToShortDateString()</td>
                                                    <td>@item.IsPaid</td>
                                                    <td>
                                                        <a id="CareerUpdateBtn" onclick="PaymentUpdate(@item.StaffPaymentId)" class="btn btn-sm btn-clean btn-icon" title="Edit details" data-toggle="modal" data-target="#staffLeaveUpdateModal">
                                                            <i class="la la-edit text-warning"></i>
                                                        </a>
                                                        <a class="btn btn-sm btn-clean btn-icon" onclick="DeleteStaffPayment(@item.StaffPaymentId)" title="Sil">

                                                            <i class="la la-trash text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->

                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="AddPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 id="PaymentAddModalHeader" class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Pozisyon Ekle
                    </h3>

                </div>
                <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddPaymentForm" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        @* fiş ekleme divi *@
                                        <div hidden id="receiptDiv" class="col-md-12 ">
                                            <div class="form-group row">
                                                <div class="input-group">
                                                    <a onclick="AddReceipt()" class="btn  btn-primary btn-block font-size-h5 py-4">Fiş Ekle</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row">
                                                <label>Tutar</label>
                                                <div class="input-group">
                                                    <input type="text" name="Amount" class="form-control form-control-solid form-control-lg">
                                                    <div class="input-group-append">
                                                        <select class="form-control form-control-solid form-control-lg" name="CurrencyGeneralSubTypeId" asp-items="ViewBag.Currencies">
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div hidden id="InstallmentDiv" class="form-group row  ">
                                                <label>Taksit</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" name="Installment">
                                                        <option value="-1" disabled selected>Seçiniz</option>
                                                        @for (int i = 1; i < 13; i++)
                                                        {
                                                            <option value=@i>@i</option>
                                                        }


                                                    </select>
                                                    <input type="hidden" name="StaffId" value="@ViewBag.StaffId" />
                                                </div>
                                            </div>
                                            <div id="FeeTypeDiv" class="form-group row  ">
                                                <label>Ücret Tipi</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" name="FeeTypeGeneralSubTypeId" asp-items="ViewBag.FeeTypes">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                    <input type="hidden" name="StaffId" value="@ViewBag.StaffId" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">

                                            <div class="form-group row  ">
                                                <label id="jobFinishDateLbl">Ödeme Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_5" data-target-input="nearest">
                                                        <input id="ContractStartDate" name="PaymentDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_5" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_5" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div id="smDescription"  class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">
                                                    <textarea disabled type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" name="Description" placeholder="Açıklama"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="lgDescription" hidden  class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">
                                                    <textarea type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" name="Description" placeholder="Açıklama"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#tab_6").addClass("active");
        });
    </script>

    @*Delete Staff Payment*@
    <script>
        function DeleteStaffPayment(id) {
            Swal.fire({
                title: "Silmek istediğinize emin misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet, sil!",
                cancelButtonText: "Hayır, iptal et!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: "POST",
                        url: "/StaffPayment/DeleteStaffPayment/" + id,
                    }).done(function (result) {
                        if (result == true) {
                            Swal.fire({
                                title: "Silindi!",
                                text: "Kaydınız silindi.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız silinemedi",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız silinmedi",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });


        }



    </script>
    @* payment add modal *@
    <script>
        function PaymentTypeChange() {
            var id = document.getElementById("kt_select2_1").value;
            console.log(id);
            if (id == 99) {
                $("#receiptDiv").removeAttr("hidden");
                $("#receiptDiv").show();
                $("#lgDescription").removeAttr("hidden");
                $("#lgDescription").show();
                $("#FeeTypeDiv").hide();
                $("#smDescription").hide();

            }
            else if (id == 100 || id == 103) {
                $("#receiptDiv").hide();
                $("#smDescription").show();
                $("#lgDescription").hide();
                $("#InstallmentDiv").removeAttr("hidden");
                $("#InstallmentDiv").show();
                $("#FeeTypeDiv").hide();

            } else {
                $("#InstallmentDiv").hide();
                $("#FeeTypeDiv").show();
                $("#receiptDiv").hide();
                $("#smDescription").show();
                $("#lgDescription").hide();
            }
            $("#kt_select2_1 > option").each(function () {
                if (this.value == id) {
                    $("#PaymentAddModalHeader").text(this.text);
                };
            });
            $("#AddPaymentModal").modal("show");
        }
    </script>
    <script>
        let counter = 0;
        function AddReceipt() {
            counter++;
            var divId = "receipt" + counter;
            var deleteId = "delete" + counter;
            $("#receiptDiv").append('<div id="' + divId + '" class="justify-content-between align-items-center d-flex row"> <div class="form-group col-md-3 pl-0"> <label>Fiş Adı</label> <div class="input-group "><input type="text" name="Name" class="form-control form-control-solid form-control-lg mito"/></div></div><div class="form-group col-md-2"> <label>KDV(%)</label> <div class="input-group"><input type="text" name="Vat" class="form-control form-control-solid form-control-lg mito"/></div></div><div class="form-group col-md-2"> <label>Tutar</label> <div class="input-group"><input type="text" name="ReceiptAmount" class="form-control form-control-solid form-control-lg mito"/></div></div><div class="form-group col-md-4"> <label>Dosya Ekle</label> <div class="custom-file"><input type="file" class="custom-file-input mito" name="File"/> <label class="custom-file-label" for="customFile"></label></div></div><div class="form-group col-md-1"> <label></label> <button onclick="DeleteReceipt(' + counter + ')" id="' + deleteId + '" class="btn"><i class="fas fa-trash-alt fa-2x text-danger"></i></button> </div></div>')
        }
        function DeleteReceipt(counter) {
            var divId = "#receipt" + counter;
            $(divId).remove();
        }
    </script>
    <script>

        $(document).on("submit", "#modalAddPaymentForm", function (event) { //modalAddCareerForm id li form post edildiğinde

            var id = document.getElementById("kt_select2_1").value;
            event.preventDefault();
            var x = $(".mito");
            console.log(x);
            var loopCount = x.length / 4;
            var receipts = [];
            var temp = 0;
            for (var i = 0; i < loopCount; i++) {

                receipts.push({ Name: x[temp++].value, Vat: x[temp++].value, ReceiptAmount: x[temp++].value, File: x[temp++].files[0] });

            }
            // receipts = JSON.stringify(receipts);
    
            console.log(receipts);
            debugger;
            $.ajax({
                url: "/StaffPayment/AddStaffPaymentWithAjax/" + id,
                type: "POST",
                data: new FormData(this), receipts ,
                dataType: "json",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    if (data == "true") {
                        Swal.fire({
                            title: "Eklendi!",
                            text: "Kaydınız eklendi.",
                            icon: "success",
                            showCancelButton: false
                        }).then(function () {
                           
                        })
                    }

                }
            });
        });

    </script>
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
}