@model List<ListStaffPaymentDto>

@{
    ViewData["Title"] = "Ödeme Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <style>
        .image-upload > input {
            display: none;
        }

        .image-upload i {
            width: 80px;
            cursor: pointer;
        }
    </style>
}

@await Component.InvokeAsync("StaffSubHeader", new { id = @ViewBag.StaffId })
<input type="hidden" id="mitat" name="name" value="@Model" />
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">
            @await Component.InvokeAsync("StaffCard", new { id = @ViewBag.StaffId })
            @*staffLeave*@
            <div class="tab-content w-100">
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_6">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title">
                                        <i class="fas fa-wallet text-dark mr-2"></i>
                                        <h3 class="card-label">
                                            Ödemeler

                                        </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->
                                        @if ((User.IsInRole("AddStaffPayment") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                        {
                                            <select id="kt_select2_1" onchange="PaymentTypeChange()" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.PaymentTypeList">
                                                <option value="-1" disabled selected hidden>Ödeme Ekle</option>
                                            </select>
                                            <!--end::Button-->
                                        }
                                        </div>

                                </div>
                                <div class="card-body">
                                    <!--begin: Datatable-->
                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_3">
                                        <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Ödeme Türü</th>
                                                <th width="25%">Açıklama</th>
                                                <th width="10%">Tutar</th>
                                                <th>Durum</th>
                                                <th>Oluştrulma Tarihi</th>
                                                <th>Ödendi</th>
                                                @if ((User.IsInRole("ViewStaffPaymentInfo") || User.IsInRole("UpdateDeletePayment") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <th width="12%">İşlemler</th>
                                                }
                                                </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>@item.PaymentDate.ToString("d")</td>

                                                    <td>@item.PaymentType</td>

                                                    <td>@item.Description</td>
                                                    @{var InstallmentStatus = item.Installment != null ? "Taksit" : null;}
                                                    <td>
                                                        @item.Amount @item.CurrencyType
                                                        @if (InstallmentStatus != null)
                                                        {
                                                            <small class="badge badge-pill badge-secondary text-sm-center">@item.Installment @InstallmentStatus</small>

                                                        }
                                                    </td>
                                                    <td>@item.GeneralStatusGeneralSubTypeId</td>
                                                    <td>@item.CreationDate.ToShortDateString()</td>
                                                    <td>@item.IsPaid</td>
                                                    <td class="text-left">
                                                        @if (item.PaymentTypeGeneralSubTypeId == 99 && item.Receipts.Count > 0 && User.IsInRole("ViewStaffPaymentInfo"))
                                                        {
                                                            <a onclick="ShowReceiptInModal(@item.StaffPaymentId)" class="btn btn-sm btn-clean btn-icon" title="details">
                                                                <i class="la la-info text-info"></i>
                                                            </a>
                                                        }
                                                        @if ((User.IsInRole("UpdateDeletePayment") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                        {
                                                            <a id="CareerUpdateBtn" onclick="PaymentUpdate(@item.StaffPaymentId)" class="btn btn-sm btn-clean btn-icon" title="Edit details" data-toggle="modal">
                                                                <i class="la la-edit text-warning"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-clean btn-icon" onclick="DeleteStaffPayment(@item.StaffPaymentId)" title="Sil">

                                                                <i class="la la-trash text-danger"></i>
                                                            </a>
                                                        }

                                                        </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->

                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="AddPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 id="PaymentAddModalHeader" class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Pozisyon Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddPaymentForm" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        @* fiş ekleme divi *@
                                        <div id="receiptDiv" class="col-md-12 ">
                                            <div class="form-group row">
                                                <div class="input-group">
                                                    <a onclick="AddReceipt()" class="btn  btn-primary btn-block font-size-h5 py-4">Fiş Ekle</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12"> <hr /></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row">
                                                <label>Tutar</label>
                                                <div class="input-group">
                                                    <input id="txtAmount" type="text" name="Amount" class="form-control form-control-solid form-control-lg">
                                                    <div class="input-group-append">
                                                        <select id="currencyType" class="form-control form-control-solid form-control-lg" name="CurrencyGeneralSubTypeId" asp-items="ViewBag.Currencies">
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div hidden id="InstallmentDiv" class="form-group row  ">
                                                <label>Taksit</label>
                                                <div class="input-group">
                                                    <select id="valInstallment" class="form-control form-control-solid form-control-lg" name="Installment">
                                                        <option value="" selected>Seçiniz</option>
                                                        @for (int i = 1; i < 13; i++)
                                                        {
                                                            <option value=@i>@i</option>
                                                        }


                                                    </select>
                                                    <input type="hidden" name="StaffId" value="@ViewBag.StaffId" />
                                                </div>
                                            </div>
                                            <div id="FeeTypeDiv" class="form-group row  ">
                                                <label>Ücret Tipi</label>
                                                <div class="input-group">
                                                    <select id="valFeeType" class="form-control form-control-solid form-control-lg" name="FeeTypeGeneralSubTypeId" asp-items="ViewBag.FeeTypes">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                    <input id="staffId" type="hidden" name="StaffId" value="@ViewBag.StaffId" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">

                                            <div class="form-group row  ">
                                                <label id="jobFinishDateLbl">Ödeme Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_9" data-target-input="nearest">
                                                        <input id="ContractStartDate" name="PaymentDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_9" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_9" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div id="smDescription" class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">
                                                    <textarea disabled id="txtSmDescription" type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" name="Description" placeholder="Açıklama"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="lgDescription" hidden class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">
                                                    <textarea id="txtLgDescription" type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" name="Description" placeholder="Açıklama"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="fncAddReceipt()" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>



<div id="UpdateStaffPaymentModalDiv">
</div>

<div id="ShowStaffPaymentInfoDiv">
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            $("#tab_6").addClass("active");
        });
    </script>
    <script>
        function ShowReceiptInModal(id) {
            //var txtHtml = " <table class='table table-responsive table-dark mx-auto'> <tr class='table table-primary '> <th class='w-75'></th> <th>Fiş Adı</th> <th>KDV(%)</th> <th>Tutar</th> </tr>";
            var modelContent = $("#ShowStaffPaymentInfoDiv");

            $.ajax({
                url: "/StaffPayment/GetStaffPaymentWithReceiptInfoModal/" + id,
                type: "GET"
            }).done(function (content) {

                if (content != null) {
                    modelContent.html(content);
                }
                $("#ShowPaymentReceiptModal").modal("show");

            }).fail(function (error) {
                alert(error);
            });



        }
    </script>

    @*staff payment Update *@
    <script>
        function PaymentUpdate(id) {
            var modelContent = $("#UpdateStaffPaymentModalDiv");
            modelContent.html("");
            $.ajax({
                url: "/StaffPayment/GetUpdateStaffPaymentModal/" + id,
                type: "GET"
            }).done(function (content) {

                if (content != null) {
                    modelContent.html(content);
                }
                $("#UpdatePaymentModal").modal("show");
            }).fail(function (error) {
                alert(error);
            });
        }
    </script>

    @*Validation Staff Payment*@
    <script>
        var fv = FormValidation.formValidation(
            document.getElementById('modalAddPaymentForm'),
            {
                fields: {
                    PaymentDate: {
                        validators: {
                            notEmpty: {
                                message: 'Tarih alanı boş geçilemez'
                            },
                            date: {
                                format: 'DD.MM.YYYY',
                                message: 'Geçerli bir tarih girin'
                            }

                        }
                    },
                    Name: {
                        validators: {
                            notEmpty: {
                                message: 'Fiş adı alanı boş geçilemez'
                            },

                        }
                    },
                    Vat: {
                        validators: {
                            notEmpty: {
                                message: 'Kdv alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' KDV rakamlardan oluşmalıdır'
                            }

                        }
                    },
                    ReceiptAmount: {
                        validators: {
                            notEmpty: {
                                message: 'Tutar alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' Tutar rakamlardan oluşmalıdır'
                            }

                        }
                    },
                    Amount: {
                        validators: {
                            notEmpty: {
                                message: 'Tutar alanı boş geçilemez'
                            },
                            numeric: {
                                message: ' Tutar rakamlardan oluşmalıdır'
                            }

                        }
                    },
                    Description: {
                        validators: {
                            stringLength: {
                                max: 499,
                                message: '500 karakterden az girin'
                            }
                        }
                    }
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    // Bootstrap Framework Integration
                    bootstrap: new FormValidation.plugins.Bootstrap(),
                    // Validate fields when clicking the Submit button

                }
            }
        );
      

        function fncAddReceipt() {
            fv.validate().then(function (status) {
                if (status == 'Valid') {
                    var formdata = new FormData();
                    $('.receiptdiv').each(function (i, obj) {

                        var myKey = "";
                        var file;
                        $(this).find('input').each(function (j, obj2) {
                            if ($(obj2).attr("name") == "Name") {
                                myKey += $(obj2).val();
                            }
                            else if ($(obj2).attr("name") == "Vat") {
                                myKey += "~" + $(obj2).val();
                            }
                            else if ($(obj2).attr("name") == "ReceiptAmount") {
                                myKey += "~" + $(obj2).val();
                            }
                            else if ($(obj2).attr("name") == "File") {
                                file = $(obj2);

                            }
                        });
                        formdata.append(myKey, file[0].files[0]);
                    });
                    var id = document.getElementById("kt_select2_1").value;
                    formdata.append("Installment", $('#valInstallment').val());
                    formdata.append("FeeType", $('#valFeeType').val());
                    formdata.append("Amount", $('#txtAmount').val());
                    formdata.append("Date", $('#ContractStartDate').val());
                    formdata.append("SmDescription", $('#txtSmDescription').val());
                    formdata.append("LgDescription", $('#txtLgDescription').val());
                    formdata.append("CurrencyType", $('#currencyType').val());
                    formdata.append("StaffId", $('#staffId').val());
                    $.ajax({
                        url: "/StaffPayment/AddStaffPaymentWithAjax/" + id,
                        type: "POST",
                        data: formdata,

                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data == "true") {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                    showCancelButton: false
                                }).then(function () {
                                    window.location.reload();
                                })
                            }

                        }
                    });

                }


            });
        }
        function DeleteStaffPayment(id) {
            Swal.fire({
                title: "Silmek istediğinize emin misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "Hayır!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: "POST",
                        url: "/StaffPayment/DeleteStaffPayment/" + id,
                    }).done(function (result) {
                        if (result == true) {
                            Swal.fire({
                                title: "Silindi!",
                                text: "Kaydınız silindi.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız silinemedi",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız silinmedi",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });


        }



    </script>
    @* payment add modal *@
    <script>
        function PaymentTypeChange() {
            var id = document.getElementById("kt_select2_1").value;
            console.log(id);
            if (id == 99) {
                $("#receiptDiv").removeAttr("hidden");
                $("#receiptDiv").show();
                $("#lgDescription").removeAttr("hidden");
                $("#lgDescription").show();
                $("#FeeTypeDiv").hide();
                $("#smDescription").hide();
                $("#InstallmentDiv").hide();
                $("#txtSmDescription").prop("disabled", true);
            }
            else if (id == 100 || id == 103) {
                $("#receiptDiv").hide();
                $("#smDescription").show();
                $("#lgDescription").hide();
                $("#InstallmentDiv").removeAttr("hidden");
                $("#InstallmentDiv").show();
                $("#FeeTypeDiv").hide();
                $("#txtSmDescription").prop("disabled", false);
                $("#txtLgDescription").prop("disabled", true);

            } else {
                $("#InstallmentDiv").hide();
                $("#FeeTypeDiv").show();
                $("#receiptDiv").hide();
                $("#smDescription").show();
                $("#lgDescription").hide();
                $("#txtSmDescription").prop("disabled", false);
                $("#txtLgDescription").prop("disabled", true);
            }
            $("#kt_select2_1 > option").each(function () {
                if (this.value == id) {
                    $("#PaymentAddModalHeader").text(this.text);
                };
            });
            $("#AddPaymentModal").modal("show");
        }
    </script>
    <script>
        let counter = 0;
        function AddReceipt() {
            counter++;
            var divId = "receipt" + counter;
            var deleteId = "delete" + counter;
            var deleteFileId = "deleteFile" + counter;
            var fileInputId = "file" + counter;
            $("#receiptDiv").append('<div id="' + divId + '" class="receiptdiv justify-content-between align-items-center d-flex row"> <div class="form-group col-md-5 pl-0"> <label>Fiş Adı</label> <div class="input-group"><input type="text" name="Name" class="form-control form-control-solid form-control-lg"/></div></div><div class="form-group col-md-2"> <label>KDV(%)</label> <div class="input-group"><input required type="text" name="Vat" class="form-control form-control-solid form-control-lg"/></div></div><div class="form-group col-md-2"> <label>Tutar</label> <div class="input-group"><input type="text" name="ReceiptAmount" onkeyup="NewReceiptAdded(this); this.oldvalue = this.value" class="form-control form-control-solid form-control-lg"/></div></div><div class="form-group my-auto col-md-1"> <label class="my-auto pt-1" for="' + fileInputId + '"> <i id="upload_icon' + counter + '" class="fas fa-upload text-danger" style="font-size: 1.5em !important;"></i> </label> <input id="' + fileInputId + '" onchange="fileInputChange(' + counter + ')" type="file" name="File" style="display:none"/> </div><div class="form-group my-auto col-md-1"> <div class="card-toolbar"> <div class="dropdown dropdown-inline"> <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ki ki-bold-more-ver"></i> </a> <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left"> <ul class="navi"> <li class="navi-item"> <a onclick="DeleteReceiptFile(' + counter + ')" id="' + deleteFileId + '" class="navi-link"> <span class="navi-icon"> <i class="fas fa-folder-minus"></i> </span> <span class="navi-text">Dosyayı Sil</span> <span class="navi-label">  </span> </a> </li><li class="navi-item"> <a onclick="DeleteReceipt(' + counter + ')" id="' + deleteId + '" class="navi-link"> <span class="navi-icon"> <i class="fas fa-trash-alt"></i> </span> <span class="navi-text">Fişi Sil</span> <span class="navi-label">  </span> </a> </li></ul> </div></div></div></div></div>')
        }
        function DeleteReceipt(counter) {
            var divId = "#receipt" + counter;
            $(divId).remove();
        }
        function DeleteReceiptFile(id) {
            debugger;
            var fileInputId = "#file" + id;
            $(fileInputId).val("");
            fileInputChange(id);
        }
        function fileInputChange(id) {
            debugger;
            var fileInputId = "#file" + id;
            var uploadIcon = "#upload_icon" + id;
            if ($(fileInputId).val() != "") {
                $(uploadIcon).removeClass("fas fa-upload text-danger");
                $(uploadIcon).addClass(" fas fa-image text-info");
            } else {
                $(uploadIcon).removeClass("fas fa-image text-info");
                $(uploadIcon).addClass(" fas fa-upload text-danger");
            }
        }
        function NewReceiptAdded(event) {
    
            var total = Number($("#txtAmount").val());
            var old = event.oldvalue;
            if (old != null) {
                old = old.replace(/,/g, '.');
                total -= Number(old);
            }
            var newVal = $(event).val();
            newVal = newVal.replace(/,/g, '.');
            total += Number(newVal);
            $("#txtAmount").val(total);

        }

    </script>

    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
}
