@model List<ListStaffCareerDto>
@{
    ViewData["Title"] = "Kariyer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
@await Component.InvokeAsync("StaffSubHeader", new { id = @ViewBag.StaffId })
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })
    <div class="card-body">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            @await Component.InvokeAsync("StaffCard", new { id = @ViewBag.StaffId })
            <div class="tab-content w-100">
                <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title">
                                        <i class="fas fa-business-time text-dark mr-2"></i>
                                        <h3 class="card-label">
                                            Kariyer

                                        </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->
                                        @if ((User.IsInRole("AddStaffCareer") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                        {
                                            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#staffCareerAddModal">
                                                Pozisyon Ekle
                                            </button>
                                        }
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--begin: Datatable-->
                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Başlangıç</th>
                                                <th>Bitiş</th>
                                                <th>Çalışma Şekli</th>
                                                <th>Şirket</th>
                                                <th>Şube</th>
                                                <th>Departman</th>
                                                <th>Unvan</th>
                                                @if ((User.IsInRole("UpdateDeleteCareer") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <th>İşlemler</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.IsCareerContinue</td>
                                                    <td>@item.JobStartDate.ToShortDateString()</td>
                                                    @if (item.JobFinishDate != null)
                                                    {
                                                        <td>@item.JobFinishDate.Value.ToShortDateString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="badge badge-success badge-pill">Devam ediyor</span> </td>
                                                    }

                                                    <td>@item.ModeOfOperation</td>
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.BranchName</td>
                                                    <td>@item.DepartmantName</td>
                                                    <td>@item.Title</td>
                                                    @if ((User.IsInRole("UpdateDeleteCareer") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                    {
                                                        <td>
                                                            <a id="CareerUpdateBtn" onclick="CareerUpdate(@item.StaffCareerId)" class="btn btn-sm btn-clean btn-icon" title="Edit details">
                                                                <i class="la la-edit text-warning"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-clean btn-icon" title="Delete" onclick="DeleteCareer(@item.StaffCareerId)">
                                                                <i class="la la-trash text-danger"></i>
                                                            </a>
                                                        </td>
                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
            </div>
        </div>
    </div>
</div>
@* add career modal*@
<div class="modal fade" id="staffCareerAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Pozisyon Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddCareerForm" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>Şirket *</label>
                                                <div class="input-group">
                                                    <select onchange="CompanyChange()" class="form-control form-control-solid form-control-lg"  style=" width: 100% !important;" id="c_companySelect" name="CompanyId" asp-items="ViewBag.Companies">
                                                        <option value="">Seçiniz</option>

                                                    </select>

                                                </div>

                                            </div>
                                            <div class="form-group row ">
                                                <label>Departman *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg"  style=" width: 100% !important;" id="DepartmantGeneralSubTypeId" name="DepartmantGeneralSubTypeId" asp-items="ViewBag.Departments">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row  ">
                                                <label>Çalışma Şekli *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg"  style=" width: 100% !important;" id="ModeOfOperationGeneralSubTypeId" name="ModeOfOperationGeneralSubTypeId" asp-items="ViewBag.ModeOfOperations">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row  ">
                                                <label id="jobFinishDateLbl">Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_5" data-target-input="nearest">
                                                        <input id="JobStartDate" name="JobStartDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_5" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_5" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">
                                            <div class="form-group row  ">
                                                <label>Şube</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg text-muted" style=" width: 100% !important;"  disabled id="c_companyBranchSelect" name="CompanyBranchId">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row  ">
                                                <label>Unvan *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg"  style=" width: 100% !important;" name="TitleGeneralSubTypeId" id="TitleGeneralSubTypeId" asp-items="ViewBag.Titles">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                    <input type="hidden" id="StaffId" value="@ViewBag.StaffId" />
                                                </div>
                                            </div>

                                            <div class="form-group row  ">
                                                <label id="jobFinishDateLbl">Bitiş Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_6" data-target-input="nearest">
                                                        <input id="JobFinishDate" name="JobFinishDate" type="text" class="form-control form-control-lg datetimepicker-input " placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_6" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_6" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="careerClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* update career modal*@
<div id="staffCareerUpdateDiv"></div>

@section Scripts{
    @*begin::Page Scripts(used by this page)*@
    <script src="~/assets/js/pages/crud/forms/validation/form-controls.js"></script>
    @*end::Page Scripts*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#tab_2").addClass("active");
        });
    </script>
    <script>
        $('#TitleGeneralSubTypeId').select2({
            placeholder: 'Personel Seçiniz'
        });
        $('#c_companyBranchSelect').select2({
            placeholder: 'Seçiniz'
        });
        $('#ModeOfOperationGeneralSubTypeId').select2({
            placeholder: 'Seçiniz'
        });
        $('#DepartmantGeneralSubTypeId').select2({
            placeholder: 'Seçiniz'
        });
        $('#c_companySelect').select2({
            placeholder: 'Seçiniz'
        });
    </script>
    <script src="~/js/staffCareer.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
    <script>
         $(document).ready(function () {
             if (@ViewBag.StaffCareerUpdateStatus == true)
                Swal.fire("Güncellendi!", "Güncelleme işlemi başarılı!", "success");

         });
    </script>
}
