@model int

<div class="card-header card-header-tabs-line">
    <div class="card-toolbar">
        <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
            @if ((User.IsInRole("ViewStaffGeneralPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_1" asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-address-book"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Genel Bilgiler </span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffPersonalInfoPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_3" asp-controller="StaffPersonalInfo" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-user-edit"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kişisel Bilgiler</span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffSalaryPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item  mr-5 pr-3">
                    <a class="nav-link" id="tab_11" asp-controller="StaffSalary" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-wallet"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Maaş</span>
                    </a>
                </li>
            }

            @if ((User.IsInRole("ViewStaffPaymentPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_6" asp-controller="StaffPayment" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="far fa-credit-card"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Ödemeler</span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffShiftPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_7" asp-controller="StaffShift" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-user-clock"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Mesailer</span>
                    </a>
                </li>
            }

            @if ((User.IsInRole("ViewStaffLeavePage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_5" asp-controller="StaffLeave" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-plane-departure"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">İzinler</span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffCareerPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5 pr-3">
                    <a class="nav-link" id="tab_2" asp-controller="StaffCareer" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-business-time"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kariyer</span>
                    </a>
                </li>
            }

            @if ((User.IsInRole("ViewStaffDebitPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item  mr-5 pr-3">
                    <a class="nav-link" id="tab_9" asp-controller="StaffDebit" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-laptop"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Zimmetler</span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffOtherInfoPage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item mr-5">
                    <a class="nav-link" id="tab_4" asp-controller="StaffOtherInfo" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-house-user"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Diğer Bilgiler</span>
                    </a>
                </li>
            }
            @if ((User.IsInRole("ViewStaffFilePage") || User.IsInRole("Staff") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item  mr-5 pr-3">
                    <a class="nav-link" id="tab_8" asp-controller="StaffFile" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-folder"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Belgeler</span>
                    </a>
                </li>
            }

            @if ((User.IsInRole("ViewStaffSetActivePage") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
            {
                <li class="nav-item  mr-5 pr-3">
                    <a class="nav-link" id="tab_10" asp-controller="StaffSetActive" asp-action="Index" asp-route-id="@Model">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-cog"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kullanıcı</span>
                    </a>
                </li>
            }

        </ul>

    </div>
</div>

