@model List<ListStaffDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->

    <link href="~/css/spinner.css" rel="stylesheet" />
}
@{ Random rand = new Random();
    List<string> colors = new List<string> { "success", "danger", "info", "primary", "warning" };
}

<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Personeller</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-2x " role="tablist">
                <li class="nav-item mr-3">
                    <a class=" nav-link active  mr-2" data-toggle="tab" href="#kt_apps_contacts_view_tab_2" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-md mr-0">
                            <i class="fas  fa-2x  fa-th-list" style="font-size:25px"></i>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                </li>

                <li class="nav-item mr-3">
                    <a class=" nav-link   mr-2" data-toggle="tab" href="#kt_apps_contacts_view_tab_3" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-md mr-0">
                            <i class="fas fa-th-large" style="font-size:25px"></i>
                            <!--end::Svg Icon-->
                        </span>
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary mr-2  ml-4" data-toggle="modal" data-target="#staticBackdrop">
                Yeni Personel Ekle
            </button>
            <!--begin::Actions-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>


<div class="flex-row-fluid ml-lg-8">
    @*<div class="container">
            <div id="example_processing" class="dataTables_processing py-10" style="display: block; z-index: 10000;">Processing...</div>
        </div>*@

    <!--begin::Form-->
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <div class="card card-custom">
            <!--begin::Header-->

            <div class="tab-content pt-5">
                <div class="tab-pane active" id="kt_apps_contacts_view_tab_2" role="tabpanel">
                    <div class="card-body" hidden id="closeOpen">
                        <!--begin: Datatable-->
                        <table class="table table-separate table-head-custom table-checkable" id="kt_datatable_17">
                            <thead>
                                <tr>
                                    <th width="30%">Ad Soyad</th>
                                    <th width="20%">Şube</th>
                                    <th width="20%">Departman</th>
                                    <th width="15%">Telefon</th>
                                    <th width="15%">Mail Adresi</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PictureUrl~@item.Title~@item.NameSurname~@item.StaffId</td>
                                        <td>@item.BranchName</td>
                                        <td>@item.DepartmantName</td>
                                        <td>@item.PhonePersonal</td>
                                        <td><a href="mailto:@item.EmailPersonal">@item.EmailPersonal</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--end: Datatable-->
                    </div>

                </div>

                <div class="tab-pane" id="kt_apps_contacts_view_tab_3" role="tabpanel">
                    <div class="">
                        <div class="row justify-content-end">
                            <form method="post" class="col-md-2 mr-5 pr-5">
                                <div class="form-group row  ">
                                    <div class="input-group rounded">
                                        <input type="text" id="StaffSearchBar" onchange="StaffSearch()" onkeyup="this.onchange();" oninput="this.onchange();" class="form-control rounded" placeholder="Personel Ara" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
                                        <button id="btnStaffSearch" onclick="StaffSearch()" type="button" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div id="staffCardList" class="container-fluid">


                        <!--begin::Body-->
                        <div class="row">


                            @foreach (var item in Model)
                            {
                                <!--begin::Col-->
                                <div class="col-md-2 my-4">
                                    <a asp-controller="StaffGeneral" asp-action="Index" asp-route-id="@item.StaffId">
                                        <!--begin::Card-->
                                        <div class="card card-custom gutter-b shadow p-0 mb-1 justify-content-center">
                                            <!--begin::Body-->
                                            <div class="card-body text-center" style="padding: 0rem;">

                                                <!--begin::User-->
                                                <div class="mt-7">
                                                    <div class="symbol symbol-circle symbol-lg-100">
                                                        @if (item.PictureUrl != "-")
                                                        {
                                                            var ppPath = item.PictureUrl;

                                                            var pp = "/img/" + ppPath;

                                                            <img src="@pp" alt="image" />
                                                        }
                                                        else
                                                        {
                                                            <div class="symbol symbol-50 symbol-light-@colors[rand.Next(5)]" flex-shrink-0">
                                                                <div class="symbol-label font-size-h1"> @item.NameSurname.Substring(0, 1)</div>
                                                            </div>

                                                        }

                                                    </div>
                                                    <div class="symbol symbol-lg-75 symbol-circle symbol-primary d-none">
                                                        <span class="font-size-h3 font-weight-boldest">JB</span>
                                                    </div>
                                                </div>
                                                <!--end::User-->
                                                <!--begin::Name-->
                                                <div class="my-1">
                                                    <h3 class="text-dark font-weight-bold text-hover-primary font-size-h6">@item.NameSurname</h3>
                                                </div>
                                                <!--end::Name-->
                                                <!--begin::Label-->
                                                <span class="mt-2 label label-inline label-lg label-light-primary btn-sm font-weight-bold"><i class="fas fa-envelope mr-2 text-danger"></i> @item.EmailPersonal</span>
                                                <!--end::Label-->
                                                <!--begin::Buttons-->
                                                <div class="mt-1 mb-3">
                                                    <span class="label label-inline label-lg label-light-primary btn-sm font-weight-bold"><i class="fas fa-phone-alt mr-2 text-success"></i> @item.PhonePersonal</span>
                                                </div>
                                                <!--end::Buttons-->
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::Card-->
                                    </a>

                                </div>
                                <!--end::Col-->
                            }
                        </div>
                        <!--end::Body-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Form-->
    </div>
    <div class="my-auto p-48">
        <div class="sk-chase mx-auto">
            <div class="sk-chase-dot "></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot "></div>
            <div class="sk-chase-dot "></div>
            <div class="sk-chase-dot "></div>
        </div>

    </div>

</div>

@*add staff modal*@
<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Yeni Personel Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="addStaffFormModal29">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label ">Ad Soyad *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input name="NameSurname" id="NameSurname" class="form-control form-control-lg form-control-solid" type="text" placeholder="Ad Soyad" />
                                                </div>
                                            </div>

                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">E-Posta (Kişisel) *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-at"></i>
                                                            </span>
                                                        </div>
                                                        <input type="email" name="EmailPersonal" id="EmailPersonal" class="form-control form-control-lg form-control-solid" placeholder="E-Posta (Kişisel)" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">E-Posta (İş)</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-at"></i>
                                                            </span>
                                                        </div>
                                                        <input name="EmailJob" id="EmailJob" type="email" class="form-control form-control-lg form-control-solid" placeholder="E-Posta (İş)" />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Sözleşme Türü *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select id="ContractTypeSelect" name="ContractTypeGeneralSubTypeId" class="form-control form-control-solid form-control-lg " asp-items="ViewBag.ContractTypes">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Personel No *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        <input type="text" name="PersonalNo" id="PersonalNo" class="form-control form-control-lg form-control-solid" placeholder="Personel No" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Telefon (Kişisel) *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-phone"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" name="PhonePersonal" id="PhonePersonal" class="form-control form-control-lg form-control-solid" placeholder="Telefon (Kişisel)" />

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Telefon (İş) </label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group input-group-lg input-group-solid">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-phone"></i>
                                                            </span>
                                                        </div>
                                                        <input name="PhoneJob" id="PhoneJob" type="text" class="form-control form-control-lg form-control-solid" placeholder="Telefon (İş)" />
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label ">İşe Başlama Tarihi *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group date" id="kt_datetimepicker_7_1" data-target-input="nearest">
                                                        <input name="JobJoinDate" id="JobJoinDate" type="text" class="form-control form-control-lg form-control-solid datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_7_1" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_1" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row justify-content-center">
                                                <label id="jobFinishDateLbl" class="col-xl-4 col-lg-3 col-form-label text-muted ">Sözleşme Bitiş Tarihi</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group date" id="kt_datetimepicker_7_2" data-target-input="nearest">
                                                        <input disabled onkeydown="event.preventDefault()" id="JobFinishDate" name="JobFinishDate" type="text" class="form-control form-control-lg form-control-solid datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_7_2" />
                                                        <div id="calenderClick" class="input-group-append" data-target="#kt_datetimepicker_7_2" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row justify-content-center">
                                                <label class="col-xl-4 col-lg-3 col-form-label pb-0 mb-0">Sistemi Kullanacak mı ?</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="switch switch-primary">
                                                        <label>
                                                            <input type="checkbox" id="WillUseSystem" name="WillUseSystem" value="1" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group row justify-content-center" hidden id="dvUserName">
                                                <label class="col-xl-4 col-lg-3 col-form-label ">Kullanıcı Adı</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input name="UserNameAddStaff" id="UserName" class="form-control form-control-lg form-control-solid" type="text" placeholder="Kullanıcı Adı" />
                                                </div>
                                            </div>
                                            <div class="form-group row justify-content-center" hidden id="dvAccessType">
                                                <label class="col-xl-4 col-lg-3 col-form-label">Erişim Türü *</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control form-control-solid form-control-lg" name="RoleId" id="RoleId" asp-items="ViewBag.Roles">
                                                        <option value="">Seçiniz</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row justify-content-center" hidden id="dvPassword">
                                                <label class="col-xl-4 col-lg-3 col-form-label ">Şifre</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input name="PasswordAddStaff" id="Password" class="form-control form-control-lg form-control-solid" type="text" placeholder="Şifre" />
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row justify-content-center" hidden id="dvRoles">
                                                <label class="col-xl-2 col-lg-2 col-form-label ">Ekran Yetkileri</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <select class="form-control select2" id="pageRoles" name="pageRoles" multiple="multiple" style="min-width:100px !important" asp-items="ViewBag.PageRoles">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>


                            </div>

                            <!--end::Form-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                        <button type="button" onclick="staffAddClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js"></script>
    <script>
        var date = new Date();
        $("#JobJoinDate").val(date.getDate())
        // Demo 7
        $('#kt_datetimepicker_7_1').datetimepicker({

        });
        $('#kt_datetimepicker_7_2').datetimepicker({
            useCurrent: false
        });

        $('#kt_datetimepicker_7_1').on('change.datetimepicker', function (e) {
            $('#kt_datetimepicker_7_2').datetimepicker('minDate', e.date);
        });
        $('#kt_datetimepicker_7_2').on('change.datetimepicker', function (e) {
            $('#kt_datetimepicker_7_1').datetimepicker('maxDate', e.date);
        });
    </script>
    @*mask*@

    <script>
        $('input[name="PhonePersonal"]').mask('(000) 000 0000');
        $('input[name="PhoneJob"]').mask('(000) 000 0000');
    </script>
    <script>

        var table = $('#kt_datatable_17');

        // begin first table
        table.DataTable({
            "processing": true,
            "fnPreDrawCallback": function () {
                $('.sk-chase-dot').show();
            },
            "drawCallback": function (settings) {
                $('.sk-chase-dot').hide();
            },
            "fnInitComplete": function () {

                $('#closeOpen').removeAttr('hidden');
                $(".sk-chase-dot").hide();

            },
            responsive: true,
            paging: true,
            columnDefs: [
                {
                    targets: 0,
                    title: 'Ad Soyad',
                    render: function (data, type, full, meta) {
                        var user_img = full[0];
                        var stringSplitted = user_img.split("~");


                        var output;
                        if (stringSplitted[0] != "-") {
                            output = `
                                                                                                                    <div class="d-flex align-items-center">
                                                                                                                        <div class="symbol symbol-50 flex-shrink-0">
                                                                                                                            <img src="/img/` + stringSplitted[0] + `" alt="photo">
                                                                                                                        </div>
                                                                                                                        <div class="ml-3">
                                                                                                                             <a href="StaffGeneral/Index/` + stringSplitted[3] + `" class=" text-hover-primary text-dark-75 font-weight-bold line-height-sm d-block pb-2">` + stringSplitted[2] + `</a>
                                                                                                                             <span class="text-muted font-weight-bold line-height-sm d-block pb-2">`+ stringSplitted[1] + `</span>
                                                                                                                        </div>
                                                                                                                    </div>`;
                        }

                        else {
                            var stateNo = KTUtil.getRandomInt(0, 6);
                            var states = [
                                'success',
                                'danger',
                                'success',
                                'warning',
                                'dark',
                                'primary',
                                'info'];

                            var state = states[stateNo];

                            output = `
                                                                                                                    <div class="d-flex align-items-center">
                                                                                                                        <div class="symbol symbol-50 symbol-light-` + state + `" flex-shrink-0">
                                                                                                                            <div class="symbol-label font-size-h5">` + stringSplitted[2].substring(0, 1) + `</div>
                                                                                                                        </div>
                                                                                                                        <div class="ml-3">
                                                                                                                           <a href="StaffGeneral/Index/` + stringSplitted[3] + `" class=" text-hover-primary text-dark-75 font-weight-bold line-height-sm d-block pb-2">` + stringSplitted[2] + `</a>
                                                                                                                             <span class="text-muted font-weight-bold line-height-sm d-block pb-2">`+ stringSplitted[1] + `</span>
                                                                                                                        </div>
                                                                                                                    </div>`;
                        }

                        return output;
                    },
                },
                {
                    targets: 1,
                    render: function (data, type, full, meta) {
                        return '<a class="text-dark-50 text-hover-primary" href="mailto:' + data + '">' + data + '</a>';
                    },
                },

            ],
        });

    </script>

    <script>
        function StaffSearch() {
            var modelContent = $("#staffCardList");
            modelContent.html("");
            var formData = $("#StaffSearchBar").val().toString();
            console.log(formData);
            $.ajax({
                method: 'Post',
                url: '/Staff/StaffSearchWithAjax',
                data: formData,
            }).done(function (content) {
                var strContent = content.toString();
                if (strContent.includes("<img")) {
                    modelContent.html(content);
                } else {
                    modelContent.html('<div class= "card card-custom py-5" ><span class="text-center mt-5 mb-5 font-size-h4 "><i class="fas fa-exclamation-circle text-warning  mt-2 mr-2 my-auto"></i>Sonuç bulunamadı </span></div>');
                }
            }).fail(function (error) {
                alert(error);
            });
        }
    </script>
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <!--begin::Page Vendors(used by this page)-->
    <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js"></script>
    <script src="~/js/staff.js"></script>
}
