@model UpdateStaffDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
<!--begin::Card-->
<div class="card card-custom">
    <!--Begin::Header-->
    <div class="card-header card-header-tabs-line">
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                <li class="nav-item mr-3">
                    <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_1">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-address-book"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Genel </span>
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_2">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-briefcase"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kariyer</span>
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_3">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-user-edit"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Kişisel Bilgiler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_4">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-house-user"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Diğer Bilgiler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_5">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-plane-departure"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">İzinler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_6">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-wallet"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Ödemeler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_7">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-user-clock"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Mesai</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_8">
                        <span class="nav-icon mr-2">
                            <span class="svg-icon mr-3">
                                <i class="fas fa-folder"></i>
                            </span>
                        </span>
                        <span class="nav-text font-weight-bold">Belgeler</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--Begin::Body-->
    <div class="card-body">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            <!--begin::Aside-->
            <div class="flex-row-auto offcanvas-mobile w-300px w-xxl-400px" id="kt_profile_aside">
                <!--begin::Profile Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body pt-4">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end">
                            <div class="dropdown dropdown-inline">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        <li class="navi-item bg-danger">
                                            <a href="#" class="navi-link">
                                                <span class="navi-icon">
                                                    <i class="flaticon2-drop"></i>
                                                </span>
                                                <span class="navi-text">İşten Çıkart</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            </div>
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::User-->
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                <div class="symbol symbol-label symbol-lg-100">
                                    <img src="~/assets/media/users/300_5.jpg" alt="image" />
                                </div>
                                <i class="symbol-badge bg-success"></i>
                            </div>
                            <div>
                                <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.NameSurname</a>
                                <div class="text-muted">@Model.DepartmantName</div>

                            </div>
                        </div>
                        <!--end::User-->
                        <!--begin::Contact-->
                        <div class="py-9">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">İşe başlama tarihi:</span>
                                <span class="text-muted ">@Model.JobJoinDate.ToShortDateString()</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">Şube:</span>
                                <span class="text-muted ">Gebze</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">Departman:</span>
                                <span class="text-muted ">@Model.DepartmantName</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">Unvan:</span>
                                <span class="text-muted ">@Model.Superscription</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">Şirket:</span>
                                <span class="text-muted ">Yuchisoft</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">Telefon (İş):</span>
                                <span class="text-muted">@Model.PhoneJob</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="font-weight-bold mr-2">E-Posta (İş):</span>
                                <a href="#" class="text-muted text-hover-primary">@Model.EmailJob</a>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Profile Card-->

            </div>
            <!--end::Aside-->
            <div class="tab-content w-100">
                @*Staff General*@
                <div class="tab-pane active" role="tabpanel" id="kt_apps_contacts_view_tab_1">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form class="form" asp-action="UpdateStaffGeneral" asp-controller="Staff" method="post">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-house-user text-dark mr-2"></i>Genel Bilgiler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Genel bilgilerini düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                        <button class="btn btn-primary mr-2">Kaydet</button>
                                        <a class="btn btn-secondary">Geri</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <div class="container">
                                    <!--begin::Body-->
                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group row ">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Ad Soyad</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input asp-for="NameSurname" class="form-control form-control-lg form-control-solid" type="text" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">E-Posta (İş)</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="la la-at"></i>
                                                                </span>
                                                            </div>
                                                            <input asp-for="EmailJob" type="text" class="form-control form-control-lg form-control-solid" placeholder="Email" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Telefon (İş)</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="la la-phone"></i>
                                                                </span>
                                                            </div>
                                                            <input asp-for="PhoneJob" type="text" class="form-control form-control-lg form-control-solid" placeholder="Phone" />
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Sözleşme Türü</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect" asp-for="ContractTypeId" class="form-control form-control-solid form-control-lg ">
                                                            @foreach (var item in Model.ContractTypeList)
                                                            {
                                                                if (Model.ContractType == item.Description)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                @if (Model.ContractTypeId == 1)
                                                {
                                                    <div class="form-group row">
                                                        <label id="jobFinishDateLbl" class="col-xl-3 col-lg-3 col-form-label">Sözleşme Bitiş Tarihi</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group date input-group-solid" id="kt_datetimepicker_3" data-target-input="nearest">
                                                                <input id="ContractFinishDate" asp-for="JobFinishDate" type="text" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_3" />
                                                                <div class="input-group-append" data-target="#kt_datetimepicker_3" data-toggle="datetimepicker">
                                                                    <span class="input-group-text">
                                                                        <i class="ki ki-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-group row">
                                                        <label id="jobFinishDateLbl" class="col-xl-3 col-lg-3 col-form-label text-muted">Sözleşme Bitiş Tarihi</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group date input-group-solid" id="kt_datetimepicker_3" data-target-input="nearest">
                                                                <input id="ContractFinishDate" asp-for="JobFinishDate" type="text" class="form-control form-control-lg datetimepicker-input  text-muted" disabled placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_3" />
                                                                <div class="input-group-append" data-target="#kt_datetimepicker_3" data-toggle="datetimepicker">
                                                                    <span class="input-group-text">
                                                                        <i class="ki ki-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">İşe Başlama Tarihi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date input-group-solid" id="kt_datetimepicker_2" data-target-input="nearest">
                                                            <input asp-for="JobJoinDate" type="text" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_2" />
                                                            <div class="input-group-append  " data-target="#kt_datetimepicker_2" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">E-Posta (Kişisel)</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="la la-at"></i>
                                                                </span>
                                                            </div>
                                                            <input asp-for="EmailPersonal" type="text" class="form-control form-control-lg form-control-solid" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Telefon (Kişisel)</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="la la-phone"></i>
                                                                </span>
                                                            </div>
                                                            <input asp-for="PhonePersonal" type="text" class="form-control form-control-lg form-control-solid" />
                                                            <input type="hidden" asp-for="@Model.StaffId" />
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Erişim Türü</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select class="form-control form-control-solid form-control-lg" asp-for="RoleId">

                                                            @foreach (var item in Model.Roles)
                                                            {
                                                                if (Model.RoleId == item.RoleId)
                                                                {
                                                                    <option value="@item.RoleId" selected>@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.RoleId">@item.Name</option>
                                                                }


                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>


                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                @*Staff Career*@
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_2">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title">
                                        <i class="fas fa-business-time text-dark mr-2"></i>
                                        <h3 class="card-label">
                                            Pozisyon

                                        </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->
                                        <a href="#" class="btn btn-primary font-weight-bolder">
                                            <span class="svg-icon svg-icon-md">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <circle fill="#000000" cx="9" cy="15" r="6" />
                                                        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>Pozisyon Ekle
                                        </a>
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--begin: Datatable-->
                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Başlangıç</th>
                                                <th>Bitiş</th>
                                                <th>Çalışma Şekli</th>
                                                <th>Şirket</th>
                                                <th>Şube</th>
                                                <th>Departman</th>
                                                <th>Unvan</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListStaffCareer)
                                            {
                                                <tr>
                                                    <td>@item.IsActive</td>
                                                    <td>@item.JobStartDate.ToShortDateString()</td>
                                                    <td>@item.JobFinishDate.Value.ToShortDateString()</td>
                                                    <td>@item.ModeOfOperation</td>
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.BranchName</td>
                                                    <td>@item.DepartmantName</td>
                                                    <td>@item.Title</td>
                                                    <td></td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                @*Staff Personal Info*@
                <div class="tab-pane " role="tabpanel" id="kt_apps_contacts_view_tab_3">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form class="form" asp-action="UpdateStaffPersonalInfo" asp-controller="Staff" method="post">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-house-user text-dark mr-2"></i>Kişisel Bilgiler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Kişisel bilgileri düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                        <button class="btn btn-primary mr-2">Kaydet</button>
                                        <a class="btn btn-secondary">Geri</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <div class="container">
                                    <!--begin::Body-->
                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Doğum Tarihi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date input-group-solid" id="kt_datetimepicker_4" data-target-input="nearest">
                                                            <input asp-for="@Model.StaffPersonelInfo.BirthDate" type="text" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_4" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_4" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Medeni Hal</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect" asp-for="@Model.StaffPersonelInfo.MaritalStatusGeneralSubTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in @Model.MaritialStatusList)
                                                            {
                                                                if (Model.StaffPersonelInfo.MaritalStatusGeneralSubTypeId == item.GeneralSubTypeId )
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Engel Derecesi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect2" asp-for="@Model.StaffPersonelInfo.DegreeOfDisabilityGeneralSubTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in Model.DegreeOfDisabilityList)
                                                            {
                                                                if (Model.StaffPersonelInfo.DegreeOfDisabilityGeneralSubTypeId == item.GeneralSubTypeId)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                @*<div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Çocuk Sayısı</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect2" asp-for="ContractTypeId" class="form-control form-control-solid form-control-lg">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option>2</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                            <option>1</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Eğitim Durumu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="@Model.StaffPersonelInfo.EducationStatusGeneralSubTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in Model.EducationStatusList)
                                                            {
                                                                if (Model.StaffPersonelInfo.EducationStatusGeneralSubTypeId == item.GeneralSubTypeId)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                @*<div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Son Tamamlanan Eğitim Kurumu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">
                                                            
                                                            <input  type="text" class="form-control form-control-lg form-control-solid " />
                                                        </div>
                                                    </div>
                                                </div>*@

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Kimlik Numarası</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">

                                                            <input asp-for="StaffPersonelInfo.IdNumber" type="text" class="form-control form-control-lg form-control-solid" />
                                                            <input type="hidden" asp-for="@Model.StaffPersonelInfo.StaffPersonelInfoId" />
                                                            <input type="hidden" asp-for="StaffId" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Cinsiyet</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="@Model.StaffPersonelInfo.GenderGeneralSubTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in Model.GenderList)
                                                            {
                                                                if (Model.StaffPersonelInfo.GenderGeneralSubTypeId == item.GeneralSubTypeId)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                @*<div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Uyruğu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="ContractTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in Model.ContractTypeList)
                                                            {
                                                                if (Model.ContractType == item.Description)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>*@

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Kan Grubu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="@Model.StaffPersonelInfo.BloodGroupGeneralSubTypeId" class="form-control form-control-solid form-control-lg">
                                                            @foreach (var item in Model.BloodGroupList)
                                                            {
                                                                if (Model.StaffPersonelInfo.BloodGroupGeneralSubTypeId == item.GeneralSubTypeId)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tamamlanan En Yüksek Eğitim Seviyesi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="@Model.StaffPersonelInfo.EducationLevelGeneralSubTypeId" class="form-control form-control-solid form-control-lg ">
                                                            @foreach (var item in Model.EducationLevelList)
                                                            {
                                                                if (Model.StaffPersonelInfo.EducationLevelGeneralSubTypeId == item.GeneralSubTypeId)
                                                                {
                                                                    <option value="@item.GeneralSubTypeId" selected>@item.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.GeneralSubTypeId">@item.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>


                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_4">
                    @await Component.InvokeAsync("OtherInfo")
                </div>
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_5">
                    @await Component.InvokeAsync("Leave")
                </div>
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_6">
                    @await Component.InvokeAsync("StaffPayment")
                </div>
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_7">
                    @await Component.InvokeAsync("StaffShift")
                </div>
                <div class="tab-pane" role="tabpanel" id="kt_apps_contacts_view_tab_8">
                    @await Component.InvokeAsync("Document")
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
@section Scripts{

    <script type="text/javascript">
        $('#ContractTypeSelect').on('change', function () {
            var id = document.getElementById("ContractTypeSelect").value;
            if (id == 1) {
                $("#ContractFinishDate").attr("disabled", false);
                $("#ContractFinishDate").removeClass("text-muted");
                $("#jobFinishDateLbl").removeClass("text-muted");
            }
            else {
                $("#ContractFinishDate").attr("disabled", true);
                $("#ContractFinishDate").addClass("text-muted");
                $("#jobFinishDateLbl").addClass("text-muted");
            }
        });
    </script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js"></script>
    <!--end::Page Scripts-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/custom/contacts/edit-contact.js"></script>
    <!--end::Page Scripts-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/crud/datatables/basic/scrollable.js"></script>
    <!--end::Page Scripts-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js"></script>
    <!--end::Page Scripts-->




}
