@model ListStaffSalaryMonthylyDetailInfo

<style>
    /*#printThis td, th {
        font-size: .8vw !important;
    }*/

    @@media screen {
        #printSection {
            display: none;
        }
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>


@if (Model != null)
{
    <div class="modal fade " id="GetSalaryMonthlyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <div class="card-title align-items-start flex-column">
                        <h3 id="" class="card-label font-weight-bolder text-dark lead">
                            <i class="fas fa-credit-card mr-2 text-dark"></i>Personel Hesap Pusulası
                        </h3>


                    </div>
                    <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body ">
                    <div id="printThis" style="width: 275mm; min-height: 330mm; padding:4mm;   border: 1px #D3D3D3 solid;  border-radius: 5px; background: white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); ">
                        <table width="100%" class="mb-10">
                            <tr>
                                <td width="20%"></td>  
                                <td width="60%"> <p class="font-size-h1 text-center mb-5"> Personel Maaş Pusulası</p></td>
                                <td class="text-right" width="20%">
                                    @if (Model.CompanyLogo!=null)
                                    {
                                    <img class="img-thumbnail " width="160" src="/img/@Model.CompanyLogo" />
                                    }
                                    else
                                    {
                                    <p></p>
                                    }
                                </td>
                            </tr>
                        </table>
                       
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <table class="justify-content-center">
                                    <tr>
                                        <th class="font-size-h5">T.C. Kimlik No : </th>
                                        <td class="font-size-h5">@Model.IdNumber</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Ad Soyad : </th>
                                        <td class="font-size-h5">@Model.NameSurname</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">İşe Giriş Tarihi : </th>
                                        <td class="font-size-h5">@Model.JobJoinDate.ToString("d")</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Bordro Tarihi : </th>
                                        <td class="font-size-h5">@Model.PayrollDate.ToString("d")</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Şube : </th>
                                        <td class="font-size-h5">@Model.Branch</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <table>
                                    <tr>
                                        <th class="font-size-h5">Görevi : </th>
                                        <td class="font-size-h5">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Saat Ücreti : </th>
                                        <td class="font-size-h5">@Model.PaymentPerHour</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Agi Hariç Maaş : </th>
                                        <td class="font-size-h5">@Model.SalaryWithoutAgi</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Hakedilen Agi : </th>
                                        <td class="font-size-h5">@Model.Agi</td>
                                    </tr>
                                    <tr>
                                        <th class="font-size-h5">Agi Dahil Maaş : </th>
                                        <td class="font-size-h5">@Model.SalaryWithAgi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th class="font-size-h5" width="45%">Kazançlar </th>
                                            <th class="font-size-h5" width="10%">Gün </th>
                                            <th class="font-size-h5" width="15%">Saat </th>
                                            <th class="font-size-h5" width="30%">Tutarlar </th>

                                        </tr>
                                    </thead>
                                    <tbody class="mt-5">
                                        <tr style="margin-top:25%!important;">
                                            <td class="font-size-h5">Normal Çalışma</td>
                                            <td class="font-size-h5" >@Model.NormalWorking.Day</td>
                                            <td class="font-size-h5" >@Model.NormalWorking.Hour</td>
                                            <td class="font-size-h5 earning"  >@Model.NormalWorking.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Hafta Tatili</td>
                                            <td class="font-size-h5" >@Model.WeekBreak.Day</td>
                                            <td class="font-size-h5" >@Model.WeekBreak.Hour</td>
                                            <td class="font-size-h5 earning"  >@Model.WeekBreak.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Ücretli İzin</td>
                                            <td class="font-size-h5" >@Model.HolidaysWithPay.Day</td>
                                            <td class="font-size-h5" >@Model.HolidaysWithPay.Hour</td>
                                            <td class="font-size-h5 earning"  >@Model.HolidaysWithPay.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Normal Mesai</td>
                                            <td class="font-size-h5" >@Model.Shift.Day</td>
                                            <td class="font-size-h5" >@Model.Shift.Hour</td>
                                            <td class="font-size-h5 earning"  >@Model.Shift.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Pazar / Bayram Mesaisi</td>
                                            <td class="font-size-h5" >@Model.SundayShift.Day</td>
                                            <td class="font-size-h5" >@Model.SundayShift.Hour</td>
                                            <td class="font-size-h5 earning"  >@Model.SundayShift.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Prim</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 earning"  >@Model.Bonus</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">İkramiye</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 earning"  >@Model.Perks</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Ek Kazanç </td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 earning"  >@Model.AdditionIncome1</td>
                                        </tr>

                                    </tbody>
                                    <tfoot class="border-top">
                                        <tr>
                                            <td class="font-weight-boldest font-size-h5" colspan="3">Toplam Kazanç :</td>
                                            <td id="totalEarningSalary" class="font-size-h5"  colspan="1"></td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                            <div class="col-md-6 border-left">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>
                                            <th class="font-size-h5" width="45%">Kesintiler </th>
                                            <th class="font-size-h5" width="10%">Gün </th>
                                            <th class="font-size-h5" width="15%">Saat </th>
                                            <th class="font-size-h5" width="30%">Tutarlar </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-size-h5">Devamsızlık</td>
                                            <td class="font-size-h5" >@Model.Absence.Day</td>
                                            @{
                                                var absenceHour = Convert.ToDecimal(Model.Absence.Hour);
                                            }
                                            <td class="font-size-h5" >@Decimal.Round(absenceHour, 2)</td>
                                            <td class="font-size-h5 losing" >@Model.Absence.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Ücretsiz İzin</td>
                                            <td class="font-size-h5" >@Model.HolidayWithoutPay.Day</td>
                                            <td class="font-size-h5" >@Model.HolidayWithoutPay.Hour</td>
                                            <td class="font-size-h5 losing" >@Model.HolidayWithoutPay.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Rapor</td>
                                            <td class="font-size-h5" >@Model.Report.Day</td>
                                            <td class="font-size-h5" >@Model.Report.Hour</td>
                                            <td class="font-size-h5 losing" >@Model.Report.Amounts</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Avans Kesintileri</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 losing" >@Model.AdvanceDeduction</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">İcra Kesintileri</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 losing"  >@Model.ExecutiveDeduction</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Bireysel Emeklilik Kesintisi</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 losing"  >@Model.PrivatePensionDeduction</td>
                                        </tr>
                                        <tr>
                                            <td class="font-size-h5">Kesinti  :</td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5"></td>
                                            <td class="font-size-h5 losing"  >@Model.Deduction1</td>
                                        </tr>

                                        <tr>
                                            <td class="font-size-h5"></td>
                                        </tr>

                                    </tbody>
                                    <tfoot class="border-top">
                                        <tr>
                                            <td class="font-weight-boldest font-size-h5" colspan="3">Toplam Kesinti :</td>
                                            <td id="totalLoseSalary" width="70" class="font-size-h5"  colspan="1"></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                        <hr />
                        <div class="row  border-bottom my-5 mx-1">
                            <div class="col-md-6"></div>
                            <div class="col-md-6   p-3">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th colspan="2" class="font-weight-boldest font-size-h5"> Hesaba Yatırılacak Toplam Kazanç :</th>
                                            <td id="reelSalary" colspan="2" width="150" class="font-size-h5" ></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row  p-5">
                            <div class="col-md-6 pb-9">
                                <p class="font-size-h5 font-weight-bolder"> Personel İmza :</p>
                                <br />
                                <br />
                            </div>
                            <div class="col-md-6  pb-9">
                                <p class="font-size-h5 font-weight-bolder">İş Veren İmza :</p>
                                
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>
                    <button id="btnPrint" type="button" class="btn btn-primary font-weight-bold"><i class="fas fa-print"></i> Yazdır</button>
                </div>
            </div>
        </div>


    </div>
}
else
{
    <div class="modal fade " id="GetSalaryMonthlyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <div class="card-title align-items-start flex-column">
                        <h3 id="" class="card-label font-weight-bolder text-dark lead">
                            <i class="fas fa-credit-card mr-2 text-dark"></i>Personel Hesap Pusulası
                        </h3>

                    </div>
                    <button id="closeButton" type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="d-flex align-items-center flex-wrap mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-50 symbol-white pl-0">
                            <span>
                                <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Text-->
                        <div class="d-flex flex-column flex-grow-1 ml-2">
                            <span> Çalışanın maaş bilgisi yoktur</span>
                        </div>
                        <!--end::Text-->
                    </div>

                </div>
            </div>
        </div>
    </div>
}



<script>
    var totalEarningSalary = 0;
    $("td.earning").each(function (i, obj) {
        if ($(this).text() != '') {
            totalEarningSalary += parseFloat($(this).text());
        }
    });
    $("#totalEarningSalary").text(totalEarningSalary);

    var totalLoseSalary = 0;
    $("td.losing").each(function (i, obj) {
        if ($(this).text() != '') {
            totalLoseSalary += parseFloat($(this).text());
        }
    });
    $("#totalLoseSalary").text(totalLoseSalary);
    $("#reelSalary").text(totalEarningSalary - totalLoseSalary);

    document.getElementById("btnPrint").onclick = function () {
        printElement(document.getElementById("printThis"));
    }

    function printElement(elem) {
        var domClone = elem.cloneNode(true);

        var $printSection = document.getElementById("printSection");

        if (!$printSection) {
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            document.body.appendChild($printSection);
            //     $("#printThis td,th").css({ "font-size": "15pt"});
        }

        $printSection.innerHTML = "";
        $printSection.appendChild(domClone);
        window.print();
    }

    //document.getElementById("btnPrint").onclick = function () {
    //    var printContents = document.getElementById("printContent").innerHTML;

    //    var originalContents = document.body.innerHTML;

    //    document.body.innerHTML = printContents;

    //    window.print();

    //    document.body.innerHTML = originalContents;
    //}
    //$("#printContent").printThis({
    //    debug: false,
    //    importCSS: true,
    //    importStyle: true,
    //    printContainer: true,
    //    loadCSS: "../css/style.css",
    //    pageTitle: "My Modal",
    //    removeInline: false,
    //    printDelay: 333,
    //    header: null,
    //    formValues: true
    //});
                                    //var getSalaryMonthlyModal = document.getElementById("GetSalaryMonthlyModal");
                                    //document.getElementById("btnPrint").onclick = function () {
                                    //    document.getElementById("nonPrintable").className += "noPrint";
                                    //    window.print();
                                    //    window.print(getSalaryMonthlyModal);
                                    //}
</script>
