@model StaffSalaryMonthlyViewModal
@{
    ViewData["Title"] = "GetStaffSalaryMonthlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->

}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Maaş Listesi</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

        </div>
        <!--end::Toolbar-->
    </div>
</div>

<br />
<div class="card card-custom">
    <div class="card card-custom">
        <div class="card-body  ">

            <!--begin: Datatable-->
            <div class="tab-content pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text-dark mb-4 font-size-h4"><i class="fas fa-wallet text-dark mr-2"></i>  Maaş Tablosu</span>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-8 float-right">
                            <!--begin: Search Form-->
                            <form asp-controller="StaffSalary" asp-action="GetStaffSalaryMonthlyList" method="post">

                                <div class="row ">
                                    <div class="col-md-4"></div>
                                    <div class="input-group d-inline col-md-5">
                                        <div class="input-group date input-group-solid" id="kt_datetimepicker_79" data-target-input="nearest">
                                            <input name="dateTime" type="text" class="form-control form-control-lg datetimepicker-input" value="@Model.filterDate.Month.@Model.filterDate.Year" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_79" autocomplete="off" />
                                            <div class="input-group-append" data-target="#kt_datetimepicker_79" data-toggle="datetimepicker">
                                                <span class="input-group-text">
                                                    <i class="ki ki-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-primary--icon d-inline col-md-3" type="submit">
                                        <span>
                                            <i class="la la-search"></i>
                                            <span>Listele</span>
                                        </span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>


                <hr />

            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Ad Soyad</th>
                            <th>Şube</th>
                            <th>Bölüm</th>
                            <th>Toplam Çalışma Saati</th>
                            <th>Toplam Mesai Saati</th>
                            <th>Saatlik Ücreti</th>
                            <th>Saatlik Ek Mesai Ücreti</th>
                            <th>Toplam Hakedilen Maaş</th>
                            <th>Aldığı Maaş</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListStaffSalaryMonthly)
                        {
                            <tr>
                                <td>@item.CardNo</td>
                                <td>@item.NameSurname</td>
                                <td>@item.Branch</td>
                                <td>@item.Department</td>
                                <td>@item.TotalWorkingHour</td>
                                <td>@item.TotalOvertimeHour</td>
                                <td>@item.IncomePerHour @item.CurrencyTypeName</td>
                                <td>@item.IncomePerShiftHour @item.CurrencyTypeName</td>
                                <td>@item.TotalDeservedSalary @item.CurrencyTypeName</td>
                                <td>@item.NetSalary @item.CurrencyTypeName</td>

                                @*      <td>@item.IncomePerHour</td>
                                    <td>@item.IncomePerShiftHour</td>
                                    <td>@Math.Round(item.TotalDeservedSalary??0,2)</td>
                                    <td>@item.NetSalary</td>  *@
                            </tr>

                        }
                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js"></script>
    <script>
        $('#kt_datetimepicker_79').datetimepicker({
            locale: 'tr',
            format: 'MM.yyyy'
        });
    </script>
}